body {
    background: #fff;
    font-family: Tahoma;
    line-height: 140%;
    font-size: 12px;
    color: #000;
}
a {
    color: #2779AA;
    outline: none !important;
}
a:hover {
    color: #555;
    text-decoration: underline;
}
h1 {font-size: 22px}
h2 {font-size: 18px}
h3 {font-size: 16px}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
.disabled {
    color: #999;
}
form .clearfix {
    margin-bottom: 8px;
}
.img-label {
    position: relative;
    top: -4px;
    left: 2px;
}
.stronger {
    padding-bottom: 10px; 
    font-weight: bold; 
    text-decoration: underline;
}
.marked {
    color: #C00;
}
.label-disp-inl {
    margin: 0;
}
.inputs-list:first-child {
    padding-top: 0;
}
.label-disp-inl label {
    display: inline;
}
.inputs-list input[type="radio"], .inputs-list input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

/*head*/
.head {
    width: 100%;
    background: url('/images/admin/line.jpg') 0 77px repeat-x;
    height: 90px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #cdd2bd;
}
.head .logo {
    position: absolute;
    left: 10px;
    top: 5px;
}
.logo span{
    width: 250px;
    display: block;
}
.logo a {
    text-decoration: none;
    color: black;
}
/*head navigation*/
.head .navigation {
    position: absolute;
    top: 5px;
    right: 5px;
}
.navigation span {
    padding: 0 10px;
    line-height: 19px;
    color: #C2C2C2;
    cursor: auto;
}
.navigation-callback a {
    background: url('/images/admin/e-mail.png') 100% 50% no-repeat;
    padding: 0 25px 2px 0;
}
.navigation-gohome a {
    background: url('/images/admin/home.png') 100% 50% no-repeat;
    padding: 0 25px 3px 0;
}
.navigation-logout a {
    background: url('/images/admin/exit.png') 100% 50% no-repeat;
    padding: 0 25px 4px 0;
}
/*foot*/
.foot {
    text-align: center;
    border-top: 1px solid #cdd2bd;
    padding: 15px 0 0 0;
    height: 70px;
}
/*login*/
.login {
    width: 345px;
    height: 175px;
    margin: 95px auto 0 auto;
    padding: 25px 0 0 0;
    background: #f6f6f6;
    border-top: 1px solid #cdd2bd;
    border-bottom: 1px solid #cdd2bd;
}
.login form {
    margin: 0 auto;
    width: 250px;
}
.login label {
    width: 70px;
}
.login form .input {
    margin-left: 90px;
}
.login-bottom {
    width: 345px;
    height: 15px;
    margin: 0 auto 105px auto;
    background: url('/images/admin/line.jpg') 0 100% repeat-x;
}
/*main*/
.main {
    padding: 5px;
    background: #DEE8F6;
}
.main table {
    width: 100%;
}
.delimeter {
    background: #DEE8F6;
    width: 5px;
}
/*panel*/
.panel {
    background: #fff;
    border: 1px solid #99BBE8;
    width: 230px;
    height: 500px;
    overflow: hidden;
}
.panel-head {
    position: relative;
    height: 25px;
    background: url('/images/admin/panel-top.jpg') 0 0 repeat-x;
    border-bottom: 1px solid #99BBE8;
}
.panel-head-name {
    position: absolute;
    top: 4px;
    left: 5px;
    font-weight: bold;
}
.panel-body {
    width: 220px;
    padding: 0 5px 0;
    overflow: hidden;
    position: relative;
}
/*panel-menu*/
ul.panel-menu, ul.panel-menu ul {
    list-style: none;
    margin: 0;
}
ul.panel-menu li li {
    padding: 0 0 0 20px;
}
ul.panel-menu li ul {
    display: block;
}
ul.panel-menu li.active ul {
    display: block;
}
ul.panel-menu li.active a, ul.panel-menu li.active li.active a {
    color: #000;
}
ul.panel-menu li.active li a {
    color: #2779AA;
}
/*content*/
.content {
    background: #fff;
    border: 1px solid #99BBE8;
}
.content-head {
    position: relative;
    height: 25px;
    display: block;
    background: url('/images/admin/panel-bg.jpg') 0 0 repeat-x;
    border-bottom: 1px solid #99BBE8;
}
.content-head a {
    padding: 3px;
}
.content-head a:hover {
    text-decoration: none;
}
.content-head #submit {
    padding-left: 25px;
    background: url('/images/admin/save.png') 0 100% no-repeat;
}
.content-head #add {
    padding-left: 25px;
    background: url('/images/admin/add.png') 0 50% no-repeat;
}
.content-head #delete {
    padding-left: 25px;
    background: url('/images/admin/del.png') 0 50% no-repeat;
}
ul.content-head-menu {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 400px;
}
ul.content-head-menu li {
    float: left;
    display: inline;
    padding: 0 15px 0 0;
}
.content-body {
    overflow: hidden;
    position: relative;
    padding: 0 5px;
}
h1.title {
    /*margin: 10px 0 15px;
    font-weight: normal;*/
}
/*AJAX*/
.ajaxLoader {
    visibility: hidden;
}
.ajaxLoader img {
    vertical-align: bottom;
}
.positive-td {
    background: #DEFFDE;
    text-align: center;
}
.negative-td {
    background: #FFDEDE;
    text-align: center;
}

/*decorated*/
.decorated {
    width: 97%;
}
.decorated td {
    padding: 3px 3px 3px 3px;
    margin: 0;
    width: 150px;    
}
.decorated td.element {
    width: 80%;
}
.decorated input[type="text"], .decorated textarea {
    width: 99%;
}
input[type="text"], textarea {
     
}
.checkboxes input[type="checkbox"] {
    position: relative;
    top: 2px;
}
.bg-lang input[id="title"] {
    background: url('/images/admin/ru.gif') 98% 50% no-repeat;
}
.bg-lang input[id="title_uk"] {
    background: url('/images/admin/uk.gif') 98% 50% no-repeat;
}
.bg-lang input[id="title_en"] {
    background: url('/images/admin/en.gif') 98% 50% no-repeat;
}
.bg-lang input[id="title"]:focus, .bg-lang input[id="title_uk"]:focus, .bg-lang input[id="title_en"]:focus {
    background: none;
}

/*delete*/
.delete, .delete-modif, .delete-color {
    cursor: pointer;
}
/*Error*/
ul.errors {
    margin: 0;
    list-style: none;
}
ul.errors li {
    color: #C00;
}
/*--Form--*/
.zend_form dd {
    margin: 0 0 10px 0;
}
/*category_panel*/
#category_panel {
    display: none;
}
#category_panel_field ul {
    list-style: none;
    height: 450px;
    width: 160px;
    margin: 0 15px 0 0;
    overflow: auto;
    float: left;
}
#category_panel_field li {
    display: block;
    padding: 5px 0 5px 5px;
    line-height: 1.1;
    font-size: 12px;
    font-family: Arial;
    padding-right: 10px;
    cursor: pointer;
    color: #029FE4;
    line-height: 14px;
}
#category_panel_field li:hover {
    /*color: #054872;*/
    text-decoration: none;
    background-color: #DAECFA;
}
.bg_arrow {
    background: url('/images/admin/arrow-smal.png') 100% 50% no-repeat;
}
#category_title {
    float: left;
    padding-right: 15px;
    line-height: 28px;
    font-weight: bold;
    font-size: 15px;
}
#link {
    background: url('/images/admin/choose-button.png') 0 0 no-repeat;
    display: block;
    width: 76px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #000;
    float: left;
    cursor: pointer;
}
#link:hover {
    background: url('/images/admin/choose-button.png') 100% 100% no-repeat;
    color: #777;
}

/*gallery*/
.gallery_image_list, .gallery_colors_list {
    list-style: none;
    margin-left: 0;
}
.gallery_image_list li:first-child {
    border: 1px solid #aaa;
}
.gallery_image_list li, .gallery_colors_list li {
    float: left; 
    padding: 5px;
    border: 1px solid #eee; 
    margin: 0 5px 5px 0;
    position: relative;
    background: #fff;
    height:95px;
    overflow: hidden;
}
.gallery_image_list a, .gallery_colors_list a {
    margin-bottom: 3px;
    width: 75px; 
    height: 75px; 
    display: block; 
    overflow: hidden
}
.gallery_image_list span, , .gallery_colors_list span {
    position: absolute; 
    bottom: 5px; 
    right: 5px;
    font-size: 10px;
    color:#ccc;
}
.delete-screen {
    display:inline;
    float:right;
    cursor: pointer;
}

/*formtable*/
form table input[type="text"], form table textarea{
    width: 98%;
}
.text-ru {
    background: url('/images/admin/ru.gif') 99% 4px no-repeat;
}
.text-uk {
    background: url('/images/admin/uk.gif') 99% 4px no-repeat;
}
.text-en {
    background: url('/images/admin/en.gif') 99% 4px no-repeat;
}

/*Bootstrap*/
.input, textarea, input[type="text"], select {
    color: #333;
}
.main .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.main .container-fluid > .sidebar {
    width: 230px;
}
ul.content-head-menu {
    margin: 0;
}
ul.content-head-menu li {
    line-height: inherit;
}
.main table th, .main table td {
    padding: 5px 5px 5px;
    line-height: 18px;
    text-align: left;
}
.modal-backdrop {
    background-color: #fff;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.zebra-striped tbody tr:nth-child(odd) td.filter {
    background: #fff;
    border-top: 1px solid #DDD;
}