/*Reset*/
html, body, div, span,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

img, ins, kbd, q, s, samp,

small, strike, strong,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration:none;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*end reset*/

body {
    background: #eee;
    font-family: Tahoma;
    font-size: 14px;
}
a {
    color: #000;
}

a:hover {
    color: #5a2c1e;
}
input {
    width: 165px;
}
input[type="submit"] {
    width: 171px;
}
.authform {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #fff;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 150px auto;
}
.authform-tbl {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 20px auto;
    width: 175px;
    padding: 20px;
}
.panel {
    width: 100%;
    clear: both;
    height: 25px;
    font: 13px/25px Tahoma;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.panel-left {
    float: left;
}
.panel-left span {
    padding: 5px 10px;
    border-right: 1px solid #ccc;
}
.panel-right {
    float: right;
}
.panel-right span {
    padding: 5px 10px 5px 10px;
    border-left: 1px solid #ccc;
}
.err {
    color: #C00;
    position: relative;
    top: 10px;
}