body {
  background-size: 100%;
  font-size: 14px;
  font-family: 'Arimo', sans-serif;
  height: 100%;
  color: #151515;
  min-width: 980px;
}

a {
  color: #151515;
  outline: none !important;
}

a:hover {
  color: #151515;
  text-decoration: underline;
}

.clear {
  clear: both;
  overflow: hidden;
}

.errors {
  margin: 0;
  list-style: none;
}

.errors li {
  font-size: 12px;
  color: #C00;
}

hr {
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: #151515;
}

h1, h2, h3, h4 {
  line-height: 18px;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 21px;
  line-height: 20px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 9px;

}

h1.nomargin, h2.nomargin,
h3.nomargin, h4.nomargin,
h5.nomargin, h6.nomargin,
p.nomargin {
  margin: 0;
}

ul {
  list-style: square;
}

ul li {
  color: #151515;
  font-size: 15px;
  line-height: 24px;
}

ul, ol {
  margin: 0 0 12px 25px;
}

input, select, textarea {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  color: #333;
}

pre {
  color: black;
}

.marked {
  color: #C00;
}

body .pirobox_content {
  top: 45%;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

.wrapper-in {
  padding: 0 40px;
}

/*head*/
#head {
  margin: 0 auto;
  height: 53px;
  padding-top: 7px;
  border-bottom: 1px solid #e3e3e3;
  .logo {
    display: block;
    margin: 0 auto;
    height: 44px;
    width: 165px;
    background: url('/images/layout/logo.png') no-repeat 0 0;
    background-size: 165px 44px;
  }
  #shop-cart {
    height: 18px;
    width: 18px;
    background: url('/images/layout/cart.png') no-repeat 100% 0;
    background-size: 18px 18px;
    float: right;
    margin: 14px 0 0 30px;
    padding-left: 20px;
    cursor: pointer;

    > #shop-cart-count {
      position: relative;
      left: -25px;
      text-align: right;
      width: 20px;
      cursor: pointer;
      font-weight: normal;
      font-size: 17px;
    }
  }
  .phonenumber {
    color: #151515;
    font-size: 17px;
    margin-top: 15px;
    float: right;
  }
  .top-menu {
    float: left;
    display: none;

    &.active {
      background: white;
      display: block;
      left: 65px;
      position: absolute;
      height: 47px;
    }

    .pills {
      margin: 8px 0 0 20px;
      li {
        height: 30px;
      }
      a {
        font-size: 15px;
        color: #151515;
        height: 30px;
        line-height: 32px;
        padding: 0 15px 0 0;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: none;
      }
    }


    .pills .active a {
      text-shadow: none;
      background: none;
      color: #353535;
      text-decoration: underline;
    }

    .pills li a:hover {
      text-shadow: none;
      color: #353535;
      background: none;
      text-decoration: underline;
    }
  }
  #top-menu_button {
    cursor: pointer;
    height: 20px;
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1) 0s;
    width: 40px;
    float: left;
    margin-top: 13px;
    padding-top: 10px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    > span {
      background-color: #131313;
      border-radius: 50%;
      display: block;
      height: 4px;
      margin: 0 5px 5px 0;
      pointer-events: none;
      transition: background-color 0.5s ease 0s;
      width: 4px;
      float: left;
    }

    &.active {
      margin-top: 4px;
      width: 31px;
      padding-left: 9px;
      span{
        float: none;
      }
    }
  }
  .search {
    float: left;
    margin: 8px 0 0 13px;

    .search input {
      box-shadow: none;
      border: 1px solid #fff;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      width: 270px;
      background: url('/images/layout/bg.png') 0 0 repeat;
      color: #fff;
      font-size: 16px;
    }

    .search form {
      margin-bottom: 0;
    }
    input {
      display: none;
      height: 25px;
      background-color: #f6f6f6;
      border: 0;
      box-shadow: inherit;
      padding: 4px 10px;
      font-family: 'Arimo', sans-serif;
    }

    .search-submit {
      background: url('/images/svg/search.svg') no-repeat 0 6px;
      height: 35px;
      width: 30px;
      display: block;
      background-size: 18px;
      float: left;
    }
  }
}

.phonenumber b {
  font-size: 26px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 1.2px;
}

.main {
  max-width: 1600px;
  margin: 0 auto;

  .sidebar {
    padding: 38px 0 20px 0;
    color: #151515;
    width: 185px;
    float: left;

    .shop-menu {
      list-style: none;
      margin: 0;

      li {
        color: #151515;
      }

      li > a {
        font-size: 15px;
        color: #151515;
        font-family: 'Arimo', sans-serif;
        line-height: 28px;
      }

      li.active {
        text-decoration: underline;
      }
    }

  }
}

#girl {
  width: 100%;
  margin-bottom: 65px;
}

.content {
  padding: 45px 0 70px 0;
  min-height: 520px;
  color: #151515;
  margin-left: 225px;

  h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: none;
  }
  .brand-text {
    margin-left: -225px;
    margin-bottom: 70px;
  }

  .row {
    display: inline-block;
    margin: 0 2% 50px 0;
    vertical-align: top;
    width: 31%;

    .thumbnail {
      background-size: cover;
      height: 235px;
      margin-bottom: 30px;
      width: 100%;
      display: block;
    }

    .articles-text {

      > h4 a {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #151515;
      }
      > p a {
        display: block;
        color: #151515;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .back {
    display: block;
    margin-top: 40px;
  }
  > .art-in {
    a {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
    h2 {
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 10px;
      text-transform: none;
    }
    h3 {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 10px;
      text-transform: none;
    }
  }
}

.conacts {
  display: inline-block;
  width: 500px;
  margin-bottom: 20px;
}

#search {
  margin-bottom: 0;

  > .search-submit {
    outline: none;
  }
}

form .input {
  margin-left: 0;
}

.form {
  vertical-align: top;
  display: inline-block;

  > h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .input {
    margin: 0;
  }

  input, select, textarea {
    width: 290px;
    color: #151515;
    box-shadow: 0 0 0 0 inset;
    border: 1px solid #737373;
    padding-left: 10px;
  }
  textarea {
    margin-bottom: 10px;
  }

  input, select {
    height: 25px;
  }

  #submit-label {
    display: none;
  }

  input, select, textarea {
    border-radius: 0;
    color: #333;
  }

  input:focus, textarea:focus {
  }

  .hidden {
    display: none;
  }

  form, form .line, fieldset {
    margin-bottom: 8px;
  }

  .help-inline, .help-block {
    color: red;
    font-size: 13px;
    line-height: 18px;
  }
}
.btns {
  position: relative;
  width: 300px;
  height: 42px;
  line-height: 45px;
  text-align: center;
  margin-left: 3px;
  font-size: 14px;
  text-transform: uppercase;

  &.cart-modal{
    display: inline-block;
    float: right;
    margin-left: 15px;
    width: 185px;
  }

  button {
    width: 100%;
    background-color: white;
  }

  .button span {
    bottom: 0;
    height: 45px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .button span::before {
    content: "→";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    opacity: 0;
    position: absolute;
    right: 10px;
    text-transform: none;
    top: 17px;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out 0s;
  }
  .button span::after {
    border-left: 3px solid #d6d9dc;
    border-right: 3px solid #d6d9dc;
    bottom: -3px;
    content: "";
    height: 100%;
    left: -3px;
    max-height: 100%;
    position: absolute;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
  }
  .button::before {
    background: #d6d9dc none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.15s ease-in-out 0.15s;
    width: 51%;
  }
  .button::after {
    background: #d6d9dc none repeat scroll 0 0;
    content: "";
    height: 3px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.15s ease-in-out 0.15s;
    width: 51%;
  }
  .button:hover {
    padding: 0;
  }
  .button:hover span::before {
    opacity: 1;
    transform: translateX(0px);
  }
  .button:hover span::after {
    max-height: 3px;
    transition: all 0.15s ease-in-out 0.15s;
  }
  .button:hover::before {
    transition: all 0.15s ease-in-out 0s;
    width: 0;
  }
  .button:hover::after {
    transition: all 0.15s ease-in-out 0s;
    width: 0;
  }
  .button:active span::before {
    transform: translateX(23px);
  }
  .button.black {
    border-bottom: 3px solid #151515;
    color: #151515;
    text-decoration: none;
    display: block;
    height: 45px;
    text-transform: uppercase;
  }
  .button.black span::after {
    border-left: 3px solid #151515;
    border-right: 3px solid #151515;
  }
  .button.black::before {
    background: #151515 none repeat scroll 0 0;
  }
  .button.black::after {
    background: #151515 none repeat scroll 0 0;
  }
}
.banner {
  p {
    font-size: 17px;
  }
  position: relative;
  height: 550px;
  margin-right: -40px;

  > .text {
    border-top: 3px solid #151515;
    width: 28%;
    padding-top: 20px;
    padding-right: 2%;

    > .home {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
    }
  }

  #slider-home {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;

    .wrap {

      > .item {
        display: none;

        &.active {
          display: block;
        }

        > .first-img {
          position: absolute;
          z-index: 100;
          border: 3px solid white;
          background-repeat: no-repeat;
          background-position: 0 0;
          display: block;
          height: 430px;
          width: 400px;
          left: 0;
          bottom: 0;

        }

        > .second-img {
          position: absolute;
          background-repeat: no-repeat;
          background-position: 100% 0;
          background-size: contain;
          display: block;
          max-height: 321px;
          height: 100%;
          width: 70%;
          right: 0;
          top: 0;
        }

        > .text {
          position: absolute;
          display: block;
          left: 440px;
          bottom: 90px;
          padding-right: 10px;
        }

      }
    }

    #slider-nav {
      position: absolute;
      display: block;
      left: 440px;
      bottom: 15px;

      .circle {
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
        height: 10px;
        width: 10px;
        background-color: #e3e3e3;
        margin-right: 9px;

        &.active {
          background-color: #757575;
        }

        &:hover {
          background-color: #bfbfbf;
        }
      }
    }
  }

  #slider-product {
    position: absolute;
    left: 3%;
    width: 20%;
    min-width: 210px;
    text-align: center;
    bottom: 50px;
    display: block;
    height: 300px;

    .product {
      display: none;

      &.active {
        display: block;
      }

      a {
        color: #151515;
        > img {
          width: 100%;
        }
        > .title {
          font-weight: bold;
          margin-bottom: 10px;
        }
        > p {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }

}

#foot {
  position: relative;
  margin: 0 auto;
  height: 60px;
  border-top: 1px solid #e3e3e3;
  padding: 35px 0;
  font-size: 15px;

  .wrapper-in {

    > .center {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 295px;

      > .menu {
        height: 25px;
        margin: 0 -6px 23px;

        > .pills {
          padding: 0;

          > li {

            > a {
              padding: 0;
              margin: 0 8px;
              color: #151515;
              line-height: 15px;

              &:hover {
                background: 0;
                text-shadow: inherit;
                text-decoration: underline;
              }
            }

            &.active a {
              background: 0;
              text-shadow: inherit;
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }

      }
    }

    > .left {
      float: left;

      .copyright, .creator {
        a {
          color: #151515;
          text-decoration: underline;
          &:hover {
            text-decoration: inherit;
          }
        }
      }

      .copyright {
        margin-bottom: 30px;
      }
    }

    > .right {
      float: right;
      text-align: right;

      > .socials {
        margin-bottom: 26px;

        > a {
          display: inline-block;
          height: 22px;
          width: 22px;
          vertical-align: middle;
          margin: -2px 0 0 7px;
        }

        > #fb {
          mask: url('/images/svg/fb.svg') no-repeat 0 0;
          -webkit-mask: url('/images/svg/fb.svg') no-repeat 0 0;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-size: 22px 22px;
          background-color: #151515;

          &:hover {
            background-color: #3b5998;
          }
        }

        > #vk {
          mask: url('/images/svg/vk.svg') no-repeat 0 0;
          -webkit-mask: url('/images/svg/vk.svg') no-repeat 0 0;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-size: 27px 27px;
          height: 25px;
          width: 27px;
          margin-top: -3px;
          background-color: #151515;

          &:hover {
            background-color: #507299;
          }
        }

        > #ig {
          mask: url('/images/svg/ig.svg') no-repeat 0 0;
          -webkit-mask: url('/images/svg/ig.svg') no-repeat 0 0;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-size: 22px 22px;
          background-color: #151515;

          &:hover {
            background-color: #6653a4;
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom left, #6653a4, #e5144d, #f8c454) repeat scroll 0 0;
          }
        }
      }
    }
  }

}

.pagination {
  height: 45px;
  margin: 18px 0 90px;

  .prev {
    background: #d8d8d8 url('/images/svg/arrow-left.svg') no-repeat 50% 50%;
    display: block;
    height: 45px;
    width: 45px;
    background-size: 20px 20px;
    float: left;
    margin-right: 10px;
    > a:hover {
      background: #cdcdcd url('/images/svg/arrow-left.svg') no-repeat 50% 50%;
    }
  }
  .next {
    background: #d8d8d8 url('/images/svg/arrow-right.svg') no-repeat 50% 50%;
    display: block;
    height: 45px;
    width: 45px;
    background-size: 20px 20px;
    float: right;
    margin-left: 10px;
    > a:hover {
      background: #cdcdcd url('/images/svg/arrow-right.svg') no-repeat 50% 50%;
    }
  }

  .next, .prev {
    > a {
      height: 45px;
      width: 45px;
      display: block;
      padding: 0;
      &:hover {
        background-size: 20px 20px;
      }
    }
    &.disabled {
      background-color: #f5f5f5;
    }
  }

  a {
    color: #737373;
    font-size: 18px;
    line-height: 45px;
    border-right: 0 none;
  }

  a:hover, .active a {
    background-color: white;
    text-decoration: underline;
  }

  .active a {
    color: #151515;
  }

  ul {
    border: 0;
    border-radius: 0;
    box-shadow: inherit;

    li {
      padding: 0 !important;
    }
  }
}

/* pirobox */
.pirobox_content td {
  padding: 0 !important;
}

.pirobox_content, .pirobox_content tr + tr td {
  border: 0;
}

/* gallery */
.media-grid li a {
  text-align: center;
}

.media-grid li a span {
  text-decoration: underline;
}

.gal-item {
  width: 300px;
  float: left;
}

.gal-vert-center {
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;
  height: 300px;
  width: auto;
}

.gal-hor-center {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

/* content */
.post-preview {
  margin: 6px 0;
  width: 330px;
  float: left;
}

/*.spoiler*/
#spoiler {
  display: none;
}

/*shop*/
.img-bg {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.shop-list {
  margin: 50px 0 35px;
  list-style: none;
  display: block;

  li {
    height: 320px;
    margin-left: -4px;
    padding: 0 1%;
    width: 18%;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 25px;
    vertical-align: top;

    .shop-list-i-d {
      text-align: left;
      line-height: 16px;
      font-family: 'Arimo', sans-serif;
      font-size: 16px;
      margin-top: 20px;

      .sb_title {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
        color: #151515;
      }

      .title {
        color: #151515;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .thumbnail {
    border-bottom: 3px solid #151515;
    display: block;
    height: 225px;

    > .img-bg {
      height: 225px;
    }
  }
}

.shop-list > li > .thumbnail {
  position: relative;
  > .discount {
    background-color: white;
    border-radius: 0 0 50px;
    border-right: 3px solid #151515;
    font-size: 19px;
    height: 40px;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 50px;
  }

}

.filter-hor {
  display: block;
  list-style: none;
  padding-bottom: 10px;
  margin: 0 0 40px;

  li {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    line-height: 25px;
  }

  li.brands {
    color: #151515;
    font-weight: bold;
  }

  a {
    color: #737373;
    &.active {
      text-decoration: underline;
      color: #151515;
    }
  }

}

#shop-sort-filter {
  font-size: 15px;
  a {
    margin-left: 15px;
  }
}

.shop-limit-filter {
  float: right;
  line-height: 24px;
  font-size: 15px;

  a {
    margin-left: 7px;
    &.active {
      color: #151515;
      text-decoration: underline;
    }
  }
}

/*shop product*/
#goods {
  display: block;

  .product-title {
    margin-bottom: 15px;
    float: right;
    width: 65%;
    h1 {
      font-size: 25px;
      line-height: 29px;
      font-weight: bold;
      > span {
        margin-top: 10px;
        font-size: 15px;
        line-height: 19px;
        display: block;
        font-weight: normal;
      }
    }
  }

  .product-img {
    display: inline;
    float: left;
    margin-right: 5%;
    width: 30%;
    background: #fff;
    position: relative;
    margin-bottom: 50px;

    #product-gallery {
      margin: 0 0 10px 0;
      border-bottom: 3px solid #151515;
      height: 350px;
      li {
        position: relative;
        list-style: none;
        a {
          height: 300px;
          width: 100%;
          display: block;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          > .zoom {
            position: absolute;
            right: 0;
            top: 0;
            height: 25px;
            width: 25px;
            mask: url('/images/svg/full-size.svg') no-repeat 0 0;
            -webkit-mask: url('/images/svg/full-size.svg') no-repeat 0 0;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: #e3e3e3;
            background-size: 25px 25px;
            &:hover {
              background-color: #151515;
            }
          }
        }
        .color {
          margin-top: 10px;
          line-height: 22px;
          > img {
            float: left;
            margin-right: 10px;
            border: 1px solid #f0f0f0;
          }
          > span {
            color: #151515;
          }
        }
      }
      &:hover {
        border-bottom: 4px solid #151515;
        height: 349px;
      }
    }

    #product-gallery-small {
      margin: 0px;
      li {
        float: left;
        list-style: none;
        width: 23%;
        height: 80px;
        padding: 5px 1%;
        a {
          display: block;
          height: 80px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
        }

        &:hover, &.active {
          border-bottom: 1px solid #e3e3e3;
          height: 79px;
        }

      }
    }
  }

  .product-img > .discount {
    color: #151515;
    line-height: 20px;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: white;
    border-radius: 0 0 50px;
    border-right: 3px solid #151515;
    font-size: 19px;
    height: 40px;
    padding: 5px;
    top: 0;
    vertical-align: middle;
    width: 50px;
  }

  .none {
    font-size: 15px;
    color: #c61919;
    margin: 50px 0;
  }

  .product-descr {
    width: 65%;
    margin-bottom: 70px;
    margin-left: 35%;
    ul li {
      color: #151515;
      list-style: square;
    }
  }
}

.modifs-table, .cart-table {
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width: 65%;
  max-width: 620px;
  border-collapse: collapse;
  margin: 50px 0;
  tr {
    border-bottom: 1px solid #e3e3e3;
    height: 43px;
    &.th {
      height: 36px;
    }
  }
  th {
    font-weight: normal;
    background-color: #e3e3e3;
    padding: 5px 15px;
  }
  td {
    padding: 5px 15px !important;
    line-height: 24px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    vertical-align: middle;
  }
  td, th {
    border: 0;
    font-size: 15px;
  }
  tbody tr:hover {
    background: url('/images/layout/bg.png') 0 0 repeat;
  }
  .old-price {
    color: #CCCCCC;
    text-decoration: line-through;
  }
  .product-clr-hex {
    background-color: #f0f0f0;
    border: 0 none;
    padding: 1px 7px;
    width: 140px;
  }
}

.cart-table {
  width: 100%;
  max-width: inherit;
  margin: 0;
  td {
    .title {
      line-height: 18px;
      display: block;
      margin-left: 40px;
    }
  }
}

.other {
  clear: both;
}

/*shop product images list*/
.product-images, .colors-images {
  list-style: none;
  margin: 0 -2px 20px -2px;
  clear: both;
}

.product-images li, .colors-images li {
  width: 23px;
  height: 23px;
  margin: 0 2px 4px;
  overflow: hidden;
  text-align: center;
  float: left;
  border: 1px solid #fff;
}

.colors-images li {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.colors-images li:hover {
  border-color: #E7BC8F;
}

.product-images .img-vert {
  width: 23px;
  height: 23px;
  overflow: hidden;
}

.colors-images .img-vert {
  width: 22px;
  height: 22px;
  overflow: hidden;
}

.product-images li:hover {
  border: 1px solid #e6b987;
}

.product-images li.dishover:hover {
  border: 1px solid #fff;
}

.product-images img {
  text-align: center;
  margin: 0 auto;
}

.product-images li .desc {

}

/*cart*/

.add-to-cart {
  display: block;
  height: 20px;
  background: url('/images/layout/cart.png') 0 50% no-repeat;
  background-size: 15px 15px;
  float: left;
  padding-left: 25px;
  line-height: 20px;
  color: #151515;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.disabled, .disabled:hover {
  color: #ccc;
  cursor: default;
  text-decoration: none;
}

.cart-count {
  width: 17px;
  padding: 2px;
  margin: 0 10px 0 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  float: left;
  text-align: center;
}

.cart-count-value {
  box-shadow: 0 0;
  border: 1px solid #737373;
}

.cart-product-image {
  float: left;
  margin-right: 10px
}

.cart-color-hex {
  width: 16px;
  height: 16px;
  margin: 4px 0 0 5px;
  display: block;
  float: right;
}

/*#shop-cart:hover, */
#favorites:hover {
  background-position: 100% -20px;
  color: #e6b987;
}

#shop-cart-count {
  font-weight: bold;
}

#shop-cart-sum {
  font-weight: bold;
}

#cart-modal {
  width: 700px;
  margin: 0 0 0 -350px;
  top: 105px;
}

.cart-delete, .favorites-delete {
  cursor: pointer;
  display: block;
  width: 55px;
  height: 12px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 28px;
  background: url('/images/svg/close.svg') 50% 50% no-repeat;
}

.visa-pay {
  text-align: center;
  width: 150px;
  font-size: 16px;
}

.visa {
  display: block;
  width: 150px;
  height: 48px;
  background: url('/images/layout/VisaMastercard.png') no-repeat 0 100%;
  border: none;
  margin-top: 5px;
}

input[type="submit"].visasubmit {
  display: block;
  width: 240px;
  height: 89px;
  background: url('/images/layout/VisaLiapay.jpg') no-repeat 0 100%;
  border: none;
  margin-top: 5px;
  padding-right: 5px;
  text-align: right;
  color: #E6B987;
  font-size: 15px;
  font-weight: bold;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="submit"].visasubmit:hover {
  color: #ECC491;
  text-decoration: underline;
}

#form-checkout {

  .error {
    border-color: #c00;
  }
}

/*table-compact*/
table.table-compact {

}

table.table-compact td, table.table-compact th {
  padding: 2px 5px;
}

.articles {
  border-top: 1px solid #e3e3e3;
  padding: 60px 0;
  margin-top: 50px;

  h3 {
    text-align: center;
    margin-bottom: 40px;
  }

  .all {
    margin: 0 -1%;

    .art {
      width: 31%;
      margin: 0 1%;
      display: inline-block;
      vertical-align: top;

      .art-img {
        height: 235px;
        width: 100%;
        background-size: cover;
        margin-bottom: 30px;
      }

      h4 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 21px;

        a {
          color: #151515;
        }
        a:hover {
          color: #151515;
          text-decoration: underline;
        }
      }
    }
  }
}

/*modal*/
.modal {
  position: absolute;
  margin-top: -258px;
  width: 500px;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
}

.modal-body {
  max-height: 600px;
  overflow: auto;
  text-align: center;
  .info{
    text-align: left;
    margin-top: 20px;
    h3{padding: 15px 15px 0; text-align: left;}
    .first, .second{
      margin: 20px 0 0 15px;
      display: inline-block;
      vertical-align: top;
      .element{
        margin-bottom: 10px;
        .input {
          input{
            box-shadow: 0 0;
            border: 1px solid #737373;
            color: #151515;
            padding-left: 10px;
            width: 290px;
          }
          select{
            width: 307px;
            border: 1px solid #737373;
            padding-left: 10px;
          }
          textarea{
            box-shadow: 0 0;
            border: 1px solid #737373;
            width: 295px;
            padding-left: 10px;
            height: 74px;
          }
        }
      }
    }
    .second{margin-left: 20px;}
    p{text-align: center;}
  }
}

.modal-header {
  border: 0 none;
  h3 {
    line-height: 38px;
    margin-bottom: 0;
    padding: 15px 15px 0;
  }
  .close {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 28px;
    background: url('/images/svg/close.svg') 50% 50% no-repeat;
  }
}

.modal-footer {
  background-color: inherit;
  border-radius: 0;
  border-top: inherit;
  box-shadow: none;
  #cart-back{
    display: block;
    position: relative;
    top: 30px;
  }
}

.modal fieldset {
  padding-top: 0;
}

/*.jspDrag */
.jspTrack {
  background: #886F50;
}

.jspDrag {
  background: #322419;
}

.media-grid-center {
  display: table-cell;
  vertical-align: middle;
  height: 198px;
  width: 198px;
}

@media all and (max-width: 1550px) {
  .banner {
    > .text {
      width: 31%;
    }

    #slider-home {
      width: 67%;
    }
  }

}

@media all and (max-width: 1400px) {
  .shop-list li {
    width: 23%;
  }

  .shop-list.home li {
    width: 18%;
  }
}

@media all and (max-width: 1150px) {
  #foot .wrapper-in > .left {
    width: 235px;
    > .copyright {
      margin-bottom: 12px;
    }
  }

  .articles .all .art {
    width: 30.5%;
  }

  .banner {
    height: 500px;

    > .text {
      width: 33%;
    }

    #slider-home {
      width: 65%;

      .wrap {

        > .item {

          > .first-img {
            height: 380px;
            width: 310px;
          }
          > .text {
            left: 335px;
            bottom: 50px;
          }

        }
      }
      #slider-nav {
        left: 335px;
      }
    }

    #slider-product {
      left: 0;
      bottom: 0;
      height: 285px;
    }
  }

  .content {
    min-height: 550px;
    .row {
      width: 47%;
    }
  }

  .shop-list li {
    width: 31%;
  }

  .shop-list.home li {
    width: 18%;
  }

  #goods {
    .product-descr {
      margin-left: 0;
      width: 100%;
    }
    .modifs-table {
      max-width: inherit;
      width: 100%;
    }
    .product-title {
      width: 100%;
      float: inherit;
    }
    .product-img {
      width: 100%
    }
  }
}

