/*Reset*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote, pre,a,abbr,acronym,address,big,cite,code,img,ins,kbd,q,s,samp,small,strike,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
body{line-height: 1;}
ol,ul {list-style: none;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
table td {vertical-align: top; text-align: left;}
/*end reset*/

body {
    margin: 5px;
    font: normal 14px/150% Arial;
    color: #000;
}

a {
    color: #27aae1;
}

a:hover {

    text-decoration: underline;
}

h1,h2,h3,h4,h5,p {
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: left;
    border-bottom: 1px solid #c2c2c2;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
p {

}
img {
    border: 1px solid #767676;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
.errors {
    color: #C00;
}
.marked {
    color: #F00;
}
.black {
    color: #000;
}
.center {
    text-align: center;
}
.nopadding {
    padding: 0;
}

/*table*/
table {
    width: 100%;
}
table td {
    padding: 2px 3px;
}
table p {
    padding: 0;
}
.table {
    width: 100%;
    border: 1px solid #ccc;
}
.table td {
    padding: 2px 3px;
    border: 1px solid #ccc;
}
.table p {
    padding: 0;
}

/*cltable*/
.cltable {
    width: auto;
}
.cltable td {
    padding: 2px 3px;    
}
.cltable p {
    padding: 0;
}

/*.content ul*/
ul {
    list-style: disc;
    margin: 0 0 10px 30px;
}
ul li {
    padding: 0 0 0 10px;
}
ol {
    list-style: decimal;
    margin: 0 0 10px 30px;
}
