.ui-widget {
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
}
.ui-widget-header {
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #DDD;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.ui-widget-content {
    background: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border-color: #DDD;    
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000;
}
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #f5f5f5; 
}
.ui-state-hover {
    background: #fff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
    border: 1px solid #ddd; 
    background: #f5f5f5;    
}
.ui-state-hover a:hover {
    color: #4D7285;
}
.ui-tabs-selected {
    background: #fff !important;    
}
.ui-tabs-selected a {
    color: #000 !important;
}