<h3><?php echo $this->title; ?></h3>
<p><a class="btn" href="/categories">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="150"><?php echo $this->translate('Родительская категория'); ?></td>
            <td colspan="<?php echo $this->cmsConfig('lang_count') ?>">
                <?php /* <div id="category_title"><?php echo $this->category()->getCategoryTitleTrById($this->category_id, Zend_Registry::get('lang')) ?></div>
                  <div id="link" ><?php echo $this->translate('Выбрать'); ?></div> */ ?>
                <?php echo $this->form->parent; ?>
            </td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Заголовок</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td><?php echo $this->translate('Скрыть'); ?></td>
            <td colspan="<?php echo $this->cmsConfig('lang_count') ?>"><?php echo $this->form->hidden; ?></td>
        </tr>
    </table>
</form>

<div id="dialog" title="Выбор категории">
    <div id="category_panel">
        <div id="category_panel_field"></div>        
    </div>
</div>