<h3><?php echo $this->title; ?></h3>
<p><a class="btn" href="/categories">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="150"><?php echo $this->translate('Родительская категория'); ?></td>
            <td colspan="<?php echo $this->cmsConfig('lang_count') ?>"><b><?php echo $this->parent_category; ?></b></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Имя'); ?></td>
            <td colspan="<?php echo $this->cmsConfig('lang_count') ?>"><?php echo $this->form->name; ?></td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Имя</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
		        <tr>
            <td>Meta-Title</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{meta_title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Meta-Description</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{description . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Keywords</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{keywords . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Текст</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{text . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td><?php echo $this->translate('Скрыть'); ?></td>
            <td colspan="<?php echo $this->cmsConfig('lang_count') ?>"><?php echo $this->form->hidden; ?></td>
        </tr>
    </table>
</form>
