<?php if ($this->breadcrumbs): ?>
<div class="breadcrumbs-wrapper">
    <ul class="breadcrumbs">
            <li id="0" name="home"><a class="breadcrumbs-home" href="#home"></a></li>
            <?php $count = count($this->breadcrumbs); ?>
            <?php if ($count >= 2): ?>
                <li id="<?php echo $this->breadcrumbs[$count - 2]['id']; ?>" name="<?php echo $this->breadcrumbs[$count - 2]['name']; ?>"><a class="breadcrumbs-back" href="#back"></a></li>
            <?php endif; ?>
        <?php foreach ($this->breadcrumbs as $el): ?>
            <li id="<?php echo $el['id']; ?>" name="<?php echo $el['name']; ?>"><a href="#"><?php echo ($el['level'] != 0) ? ' &rarr; ' : '' ; ?><?php echo ($el['title' . Zend_Registry::get('prefix')]); ?></a></li>
        <?php endforeach; ?>
    </ul>
    <div class="clear"></div>
</div>
<?php endif; ?>
<ul class="categories">
    <?php if ($this->categories): ?>
        <?php foreach ($this->categories as $el): ?>
            <li id="<?php echo $el['id']; ?>" name="<?php echo $el['name']; ?>">
                <?php if (!$el['haschildren']): ?>
                <input type="checkbox" name="<?php echo $el['name']; ?>" />
                <?php else: ?>
                <span style="width:18px;float:left;">&nbsp;</span>
                <?php endif; ?>
                <a href="#<?php echo $el['name']; ?>"><?php echo ($el['title' . Zend_Registry::get('prefix')]); ?></a></li>
        <?php endforeach; ?>
    <?php endif; ?>
</ul>
<div class="clear"></div>