<div class="page">
    <h1><?php echo $this->pagetitle; ?></h1>
    <?php if ($this->categories): ?>
        <ul class="categories-show">
            <?php foreach ($this->categories as $el): ?>
                <li><a href="<?php echo $this->url(array('name' => $el['name']), 'category_show'); ?>"><?php echo My_Registry::Category()->getCategoryTitleTrById($el['id']); ?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <div class="clear"></div>
    <div>
        <?php echo $this->text; ?>
    </div>
    
    <div class="title-wrapper"></div>
    
    <?php echo $this->products; ?>
    
</div>
