<?php if ($this->categories): ?>
    <ul level="<?php echo $this->level; ?>" class="level<?php echo $this->level; ?>">
        <?php foreach ($this->categories as $el): ?>
            <li class="<?php echo ($el['haschildren']) ? 'bg_arrow' : ''; ?>" id="<?php echo $el['id']; ?>" name="<?php echo $el['name']; ?>" haschildren="<?php echo $el['haschildren']; ?>">
                <?php echo ($el['title' . Zend_Registry::get('prefix')]); ?>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>



