<?php

define('SITE_URL', 'http://hamamshop.ru');

$cacher = Zend_Registry::get('cachemanager');
$xml    = $cacher->load('wikimart');
if (!$xml) {

    $SMDF = new Default_Model_ShopModification();

    $offersString = '';

    $offers = array();
    if (!empty($this->products)) {
        foreach ($this->products as $product) {

            $modifs = $SMDF->allModerated($product['id']);
            if (empty($modifs)) {
                continue;
            }
            $modif = $modifs[0];

            $description = Doctrine_Core::getTable('Default_Model_ShopModelDescription')->find($product['id']);

            $begin = '<offer id="' . $product['id'] . '" available="true">';

            $name = ($product['sb_name']) ? $product['sb_name'] . '_' . $product['name'] : $product['name'];
            $url  = $this->url(array('id'   => 'p' . $product['id'], 'name' => $name), 'shop_product', false);

            $image = $this->imageFilepathOriginal($product['image_id'], 0, 'shop_model');

            $body =
                    '   <url>' . SITE_URL . $url . '</url>
    <currencyId>RUB</currencyId>
    <categoryId>' . $product['c_id'] . '</categoryId>
    <name>' . $product['title'] . ' ' . $product['sb_title'] . '</name>
    <price>' . $modif['price'] . '</price>
    <description><![CDATA[' . $this->announce($description->description, 100) . ']]></description>
    <picture>' . SITE_URL . $image . '</picture>
    ';

            $end = '</offer>';

            $offer = $begin . $body . $end;

            $offers[]     = $offer;
        }
        $offersString = implode('', $offers);
    }

    $categories = array(
        3                 => 'Полотенца', // +
        4                 => 'Женские халаты', // +
        5                 => 'Домашняя обувь женская', // +
        6                 => 'Ковры и коврики', // +
        7                 => 'Постельное белье', // +
        8                 => 'Покрывала', // +
        9                 => 'Пледы', // +
        12                => 'Домашняя женская одежда', // +
        14                => 'Домашняя женская одежда', // Одежда для спа
        11                => 'Полотенца', // Полотенца для СПА
        13                => 'Текстиль', // Аксессуары
        16                => 'Одеяла', // +
        17                => 'Подушки', // +
        19                => 'Текстиль', // Отдельная группа
    );
    $categoriesString = '';
    foreach ($categories as $c_id => $c_title) {
        $categoriesString .= '<category id="' . $c_id . '">' . $c_title . '</category>';
    }

    $xml = '<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE yml_catalog SYSTEM "shops.dtd">
<yml_catalog date="' . date('Y-m-d H:i:s') . '">
    <shop>
        <name>Магазин hamam</name>
        <company>ООО &quot;Люкс Ритейл&quot;</company>
        <url>' . SITE_URL . '/</url>
        <email>info@hamamshop.ru</email>
        <currencies>
            <currency id="RUB" rate="1" />
        </currencies>
        <categories>
            ' . $categoriesString . '
        </categories>
        <offers>
            ' . $offersString . '
        </offers>
    </shop>
</yml_catalog>';

    $cacher->save($xml, 'wikimart', array(), 3600);
}

header('Content-type: text/xml');
echo $xml;
?>