<h3><?php echo $this->title; ?></h3>
<a style="margin: 0 0 10px 2px; display: block;" href="/seourl/list/">&larr; Назад</a>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table class="edittable">
        <tr>
            <td width="150">URL</td>
            <td><?php echo $this->form->url; ?></td>
        </tr>     

        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Заголовок</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Meta-Description</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{description . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Keywords</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{keywords . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
    </table>
</form>