<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
    <tr>
        <th width="30">ID</th>
        <th>URL</th>
        <th>Title</th>
        <th width="30">#</th>
    </tr>
    </thead>
    <?php if ($this->entries): ?>
        <?php foreach ($this->entries as $el): ?>

            <tr>
                <td><?php echo $el->id; ?></td>
                <td><a href="/seourl/edit/id/<?php echo $el->id; ?>"><?php echo $el['url']; ?></a></td>
                <td><?php echo $el['title']; ?></td>
                <td class="delete" id="<?php echo $el->id; ?>"><img src="/images/admin/delete.png" /></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
</table>