<h3><?php echo $this->title; ?></h3>
<p><a class="btn" href="/gallery/list">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table class="edittable">
        <tr>
            <td>Приоритет</td>
            <td colspan="3"><?php echo $this->form->sortorder; ?></td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Название</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>            
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td width="150">Описание</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{description . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Изображения</td>
            <?php if ($this->id): ?>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
                    <input id="fileupload_prtf" type="file" name="file_prtf" act="/upload/gallery?id=<?php echo $this->id; ?>" />
                </td>
            <?php else: ?>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">Для добавления изображений необходимо сохранить товар/услугу</td>
            <?php endif; ?>
        </tr>
    </table>
</form>

<div class="clearfix">
    <ul class="gallery_image_list">
        <?php if ($this->galleryimages): ?>
            <?php foreach ($this->galleryimages as $el): ?>
                <li class="gallery_image_item" id="<?php echo $el['id'] ?>">
                    <a href="/galleryimage/edit/id/<?php echo $el['id'] ?>"><?php echo $this->imageView($el['id'], 0, array('width' => '75', 'maxHeight' => '75'), 'gallery'); ?></a>
                    <div class="delete" style="display:inline;" controller="galleryimage" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></div><span>ID = <?php echo $el['id']; ?></span>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
    </ul>
</div>

<script type="text/javascript">
    $(function() {
        $( ".gallery_image_item" ).draggable({
            drag: function( event, ui ) {
                $(this).css('opacity','0.7').css('z-index','15000')
            },
            stop: function( event, ui ) {
                if (!ui.droppable) {
                    location.href = '';
                }
            }
        });
        $( ".gallery_image_item" ).droppable({
            drop: function( event, ui ) {                     
                var first = $(this).attr('id');
                var second = ui.draggable.attr('id');
                $.ajax({
                    url: "/galleryimage/changeorder",
                    data: ({
                        first: first,
                        second: second
                    }),
                    type: "POST",
                    success: function() {
                        location.href = '';
                    }
                });
            }
        });
    });
</script>