<h1>Фотогалерея</h1>
<ul class="media-grid">
    <?php foreach ($this->entries as $el): ?>
        <li>
            <a href="<?php echo $this->url(array('id' => $el['id']), 'galleryshow'); ?>" alt="" title="">
                <?php echo $this->imageView($el['image_id'], 0, array('width' => 272, 'maxHeight' => 200, 'class' => 'thumbnail'), 'gallery'); ?>
                <span><?php echo $el['title'] ?></span>
            </a>
        </li>
    <?php endforeach; ?>
</ul>
<div class="clear"></div>
