<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Изображения</th>
            <th width="30" class="red">#</th>
        </tr>
    </thead>
    <?php if ($this->entries) : ?>
        <?php foreach ($this->entries as $el): ?>
            <tr>
                <td><a href="/gallery/edit/id/<?php echo $el['id']; ?>"><?php echo $el['title']; ?></a></td>
                <td><?php echo $el['description']; ?></td>
                <td><?php echo count($el['GalleryImages']); ?></td>
                <td class="delete" id="<?php echo $el->id; ?>"><img src="/images/admin/delete.png" /></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
</table>