<h1><?php echo $this->galleryname; ?></h1>
<ul class="media-grid">
    <?php foreach ($this->images as $el): ?>
        <li>
            <div class="span4">
                <a href="<?php echo $this->imageFilepathOriginal($el['id'], 0, 'gallery'); ?>" class="pirobox" title="<?php echo $el['caption' . Zend_Registry::get('prefix')] ?>">
                    <?php echo $this->imageView($el['id'], 0, array('width' => 210, 'maxHeight' => 150, 'title' => $el['caption' . Zend_Registry::get('prefix')]), 'gallery'); ?>                    
                </a>
            </div>
        </li>
    <?php endforeach; ?>
</ul>
<div class="clear"></div>
<a href="/gallery" alt="" title="">&larr; Назад</a>
</div>

<script>
    $(function() {
        $().piroBox({
            my_speed: 300, //animation speed
            bg_alpha: 0.5, //background opacity
            slideShow : 'true', // true == slideshow on, false == slideshow off
            slideSpeed : 3, //slideshow 
            close_all : '.piro_close' // add class .piro_overlay(with comma)if you want overlay click close piroBox
        });    
    });
</script>

