<?php $lang = Zend_Registry::get('lang'); ?>

<div class="banner">
    <div class="text">
        <h2 class="home">Элитный текстиль</h2>
        <p>Для дома, отелей и SPA от официального представителя Hamam в России</p>
    </div>
    <div id="slider-home">
        <div class="wrap">
            <div class="item active" data-position="0">
                <div class="first-img" style="background-image: url('/images/banner/3-img.png');"></div>
                <div class="second-img" style="background-image: url('/images/banner/6-img.png');"></div>
                <div class="text">
                    <p>100% натуральные материалы:</br>органический хлопок, шерсть</br>бамбуковое волокно,</br> шёлк и
                        кашемир</p>
                </div>
            </div>
            <div class="item" data-position="1">
                <div class="first-img" style="background-image: url('/images/banner/1-img.png');"></div>
                <div class="second-img" style="background-image: url('/images/banner/4-img.png');"></div>
                <div class="text">
                    <p>100% натуральные материалы:</br>органический хлопок, шерсть</br>бамбуковое волокно,</br> шёлк и
                        кашемир</p>
                </div>
            </div>
            <div class="item" data-position="2">
                <div class="first-img" style="background-image: url('/images/banner/5-img.png');"></div>
                <div class="second-img" style="background-image: url('/images/banner/2-img.png');"></div>
                <div class="text">
                    <p>100% натуральные материалы:</br>органический хлопок, шерсть</br>бамбуковое волокно,</br> шёлк и
                        кашемир</p>
                </div>
            </div>
        </div>
        <div id="slider-nav">
            <div class="circle active" data-position="0"></div>
            <div class="circle" data-position="1"></div>
            <div class="circle" data-position="2"></div>
        </div>
    </div>
    <div id="slider-product">
        <div class="product active" data-position="0">
            <a href="/galata-organik-contrast_halat/p192" title="Халат из органического хлопка GALATA ORGANIK Hamam">
                <img src="/images/banner/1.jpg">
                <div class="title">GALATA ORGANIK - от 19500 ₽</div>
                <p>Халат из органического хлопка</p>
            </a>
        </div>
        <div class="product" data-position="1">
            <a href="/pera_polotence/p11" title="Полотенце из натурального хлопка Pera Hamam">
                <img src="/images/banner/2.jpg">
                <div class="title">PERA - от 1450 ₽</div>
                <p>Полотенце из натурального хлопка</p>
            </a>
        </div>
        <div class="product" data-position="2">
            <a href="/qashmare-contrast_halat/p191" title="Халат из хлопка QASHMARE CONTRAST Hamam">
                <img src="/images/banner/3.jpg">
                <div class="title">QASHMARE CONTRAST - от 16360 ₽</div>
                <p>Халат из хлопка</p>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
  $('#slider').nivoSlider({
    effect: 'boxRainGrow',
    slices: 15,
    boxCols: 8,
    boxRows: 4,
    animSpeed: 500,
    pauseTime: 97000,
    startSlide: 0,
    directionNav: false,
    directionNavHide: true,
    controlNav: false,
    controlNavThumbs: false,
    controlNavThumbsFromRel: false,
    keyboardNav: false,
    pauseOnHover: false,
    manualAdvance: false,
    captionOpacity: 0.8,
    prevText: 'Prev',
    nextText: 'Next',
    beforeChange: function () {
    },
    afterChange: function () {
    },
    slideshowEnd: function () {
    },
    lastSlide: function () {
    },
    afterLoad: function () {
    }
  });

</script>
