<h3><?php echo $this->title; ?></h3>
<p><a href="/shop-colors/list" class="btn">Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td width="240">Название (сервисное)</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->service_title; ?></td>
        </tr>
        <tr>
            <td width="240">Название (на сайте)</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <?php if ($this->id): ?>
            <input id="fileupload" type="file" name="file" act="/upload/image?type=shop_model_color&minw=25&minh=25imgw=100&id=<?php echo $this->id; ?>"><br />
            <div id="image_color"><?php echo $this->imageView($this->id, 0, array('width' => '100', 'maxHeight' => '100'), 'shop_model_color'); ?></div><br />
            <?php endif; ?>
        </tr>
        <tr>
            <td width="240">Цвет</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->hex; ?></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
  $(function() {

      /**
       * Colorpicker
       */
      $("#hex").miniColors();

      /**
       * Загрузка изображения
       */
      $('#fileupload').fileupload({
        dataType: 'json',
        url: $('#fileupload').attr('act'),
        done: function (e, data) {
            if (data.result.error) {
                alert(data.result.error);
            } else {
                $('#image_color').html(data.result.image);
            }
        }
    });

  });
</script>