<?php
 /**
 * Description of modal.phtml
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */

?>
<div class="modal-header" act="<?php echo $this->act; ?>">
    <a href="#" class="close"></a>

    <h3><?php echo $this->title ?></h3>
</div>
<div class="modal-body">
    <?php echo $this->form ?>
    <fieldset style="margin-top: -60px;">
        <div class="clearfix"><label class="optional">Изображение</label>
                <input id="fileupload" type="file" name="file" style="margin-left: 20px;"
                       act="/upload/image?type=shop_model_color&minw=25&minh=25imgw=75&id=<?php echo $this->item_id; ?>">
                <div id="image_color" style="margin-left: 150px;"></div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <a href="#" class="btn" id="modal-save">Сохранить</a>
</div>

<script type="text/javascript">
  $(function() {

      /**
       * Colorpicker
       */
      $("#hex").miniColors();

      /**
       * Загрузка изображения
       */
      $('#fileupload').fileupload({
        dataType: 'json',
        url: $('#fileupload').attr('act'),
        done: function (e, data) {
            if (data.result.error) {
                alert(data.result.error);
            } else {
                $('#image_color').html(data.result.image);
            }
        }
    });

  });
</script>