<?php
/**
 * Created by JetBrains PhpStorm.
 * User: webtorua
 * Date: 18.11.11
 * Time: 22:31
 * To change this template use File | Settings | File Templates.
 */
?>

<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
        <tr>
            <th width="50">Цвет</th>
            <th width="100">Изображение</th>
            <th>Название (сервисное)</th>
            <th>Название (на сайте)</th>
            <th width="30" class="red">#</th>
        </tr>
    </thead>
    <tbody>
        <?php if ($this->entries): ?>
            <?php foreach ($this->entries as $el): ?>
                <tr>
                    <td><div style="background-color: <?php echo $el['hex']; ?>;width: 25px;height:25px;"></div></td>
                    <td><?php echo $this->imageView($el['id'], 0, array('width' => '50', 'maxHeight' => '50'), 'shop_model_color'); ?></td>
                    <td><a href="/shop-colors/edit/id/<?php echo $el['id']; ?>"><?php echo $el['service_title']; ?></a></td>
                    <td><a href="/shop-colors/edit/id/<?php echo $el['id']; ?>"><?php echo $el['title']; ?></a></td>
                    <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>