<div class="modal-header" act="<?php echo $this->act; ?>">
    <a href="#" class="close"></a>
    <h3><?php echo $this->title ?></h3>
</div>
<div class="modal-body">
    <?php echo $this->form; ?>
</div>
<div class="modal-footer">
    <a href="#" class="btn" id="modal-save">Сохранить</a>
</div>

