<h3><?php echo $this->title; ?></h3>
<p><a href="/seotext/list/" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table class="edittable">
        <tr>
            <td width="150">URL</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->url; ?></td>
        </tr>

        <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
            <tr>
                <td width="150">
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{text . $val['p']} ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</form>