<h3>Импорт Excel-файла с базой товаров</h3>
<form act="" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
    <input type="file" name="file" /><br />
    <input type="submit" class="btn" value="Загрузить" />
</form>