<h3><?php echo $this->title; ?></h3>
<p><a href="/shop-order/list/" class="btn">Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td width="100">Номер заказа</td>
            <td><?php echo $this->form->id; ?></td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td><?php echo $this->form->fio; ?>
            <?php if ($this->discount_card): ?>Номер дисконтной карты: <?php echo $this->discount_card; ?><?php endif; ?>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><?php echo $this->form->email; ?></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td><?php echo $this->form->phone; ?></td>
        </tr>
        <tr>
            <td>Вид доставки</td>
            <td><?php echo $this->form->delivery; ?></td>
        </tr>
        <tr>
            <td>Вид оплаты</td>
            <td><?php echo $this->form->payment; ?></td>
        </tr>
        <tr>
            <td>Адрес доставки</td>
            <td><?php echo $this->form->adress; ?></td>
        </tr>
        <tr>
            <td>Сообщение</td>
            <td><?php echo $this->form->message; ?></td>
        </tr>
        <tr>
            <td>Статус заказа</td>
            <td><?php echo $this->form->status; ?></td>
        </tr>
        <tr>
            <td>Статус оплаты</td>
            <td><?php echo $this->form->payment_status; ?></td>
        </tr>
    </table>
</form>

<h3>Список товаров</h3>
<?php if ($this->entries): ?>
<table class="zebra-striped">
    <tr>
        <th>Название</th>
        <th width="100">Цена</th>
        <th width="50">Количество</th>
        <th width="30" class="red">#</th>
    </tr>
    <?php foreach($this->entries as $el): ?>
    <tr>
        <td><?php echo $el['b_title'] . ' ' . $el['m_title'] . ' ' . $el['mf_title'] . ' ' . $el['c_title']; ?></td>
        <td style="text-align: right;"><?php echo $el['price'] ?></td>
        <td><?php echo $el['count'] ?></td>
        <td class="delete-modif" modif-id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
    </tr>
    <?php $sumprice += $el['price'] * $el['count']; ?>
    <?php $sumcount += $el['count']; ?>
    <?php endforeach; ?>
    <tr>
        <td style="border-top: 1px solid #000;"></td>
        <td style="border: 1px solid #f00; text-align: right;">
            <?php
                $str .= '';
                if ($this->discount_val) {
                    $sumprice = $sumprice - $sumprice * $this->discount_val / 100;
                    $str .= '<span class="marked">скидка ' . $this->discount_val . '%</span><br />';
                } elseif ($sumprice >= DISCOUNT_BONUS_SUM) {
                    $sumprice = $sumprice - $sumprice * DISCOUNT_BONUS_VAL / 100;
                    $str .= '<span class="marked">скидка ' . DISCOUNT_BONUS_VAL . '%</span><br />';
                }
                $str .= number_format($sumprice, 2, '.', '');
                echo $str;
            ?>
        </td>
        <td style="border-top: 1px solid #000;"><?php echo $sumcount; ?></td>
        <td style="border-top: 1px solid #000;"></td>
    </tr>
</table>
<?php endif; ?>

<script type="text/javascript">
    $(function(){
        $(".delete-modif").click(function(){
            if (confirm("Удалить товар из заказа?")) {
                $.post("/shop-order/delete",{id:$(this).attr('modif-id')},function(data){
                    location.reload(true);
                });
            }
        });;
    })
</script>