<div class="modal-header">
        <a href="#" class="close"></a>
        <h3><?php echo $this->translate('Корзина покупателя'); ?></h3>
    </div>
    <div class="modal-body">
<?php if ($this->entries): ?>
<?php $prefix = Zend_Registry::get('prefix'); ?>
<table class="cart-table">
    <thead>
    <tr>
        <th><?php echo $this->translate('Наименование'); ?></th>
        <th style="text-align: center;" width="70"><?php echo $this->translate('Количество'); ?></th>
        <th width="90"><?php echo $this->translate('Цена') . ', ' . $this->translate('грн'); ?></th>
        <th width="50"><?php echo $this->translate('Удалить'); ?></th>
    </tr>
    </thead>
    <tbody>
        <?php foreach ($this->entries as $el): ?>
    <tr>
        <?php
        $colortitle = $el['ShopColor']['title' . $prefix];
        if ($colortitle) {
            $colorhex = $el['ShopColor']['hex'];
            $color = ', ' . $colortitle;
            $colorhexblock = '<span class="cart-color-hex" style="background-color: '.$colorhex.'"></span>';
        } else {
            $color = '';
            $colorhexblock = '';
        }

        $name = $el['ShopModification']['ShopModel']['ShopBrand']['title'] . ', '
                . $el['ShopModification']['ShopModel']['title' . $prefix] . ', '
                . $el['ShopModification']['title' . $prefix];
        $image_id = $el['ShopModification']['ShopModel']['image_id'];
        $image = ($image_id) ? $this->imageView($image_id,0,array('width' => 28, 'maxHeight' => 28,'class' => 'cart-product-image'),'shop_model') : '' ;

        $price = $el['ShopModification']['price'];
        $count = $el['count'];

        ?>
        <td><?php echo $image . $colorhexblock; ?><span class="title"><?php echo $name . $color; ?></span></td>
        <td><input type="text" cart-id="<?php echo $el['id']; ?>" class="cart-count-value"
                   style="width:67px;text-align: center" value="<?php $sumcount += $count; echo $count; ?>"/></td>
        <td style="text-align: right;">
            <?php $sumprice += $price * $count; echo $price;
            ?>
        </td>
        <td>
            <div class="cart-delete" cart-id="<?php echo $el['id']; ?>"></div>
        </td>
    </tr>
        <?php endforeach; ?>
        <?php if ($this->entries): ?>
        <tr>
            <td></td>
            <td style="text-align: center;"><?php echo $sumcount; ?></td>
            <td style="text-align: right;"><?php echo $this->shopUserDiscount($sumprice) ?></td>
            <td></td>
        </tr>
        <?php endif; ?>
    </tbody>
</table>
<?php else: ?>
<p><?php echo $this->translate('Ваша корзина пуста'); ?></p>
<?php endif; ?>
</div>
<?php if ($this->entries): ?>
<div class="modal-footer">
    <?php /* if (!$this->discount_title): ?>
    <div style="float: left; width: 400px;">
        <?php echo $this->translate('Discount_ShopCart_message') ?>
    </div>
    <?php else: ?>
        <?php echo $this->translate('Discount_ShopCart_message_is') ?> <b><?php echo $this->discount_title; ?></b>
    <?php endif; */ ?>
    <div class="btns cart-modal"><button data-controls-modal="order-modal" id="cart-order" class="button black" type="submit">Оформить заказ<span></span></button></div>
    <div class="btns cart-modal"><button id="cart-refresh" class="button black" type="submit">Пересчитать<span></span></button></div>
</div>
<?php endif; ?>