<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
    <tr>
        <th width="50" class="header">ID</th>		
        <th class="header">ФИО</th>
        <th class="header">Тел.</th>
        <th class="header">Email</th>
        <th class="header">Доставка</th>
        <th class="header">Вид_Оплаты</th>
        <th class="header">Адрес</th>
        <th class="header">Сообщение</th>
        <th class="header">Статус</th>
        <th class="header">Оплата</th>
		<th class="header">Дата</th>
    </tr>
    </thead>
    <tbody>
        <?php foreach ($this->paginator as $el): ?>
        <tr>
            <td><a href="/shop-order/edit/id/<?php echo $el['id']; ?>"><?php echo $el['id']; ?></a></td>
            <td><a href="/shop-order/edit/id/<?php echo $el['id']; ?>"><?php echo $el['fio']; ?></a></td>
            <td><?php echo $el['phone']; ?></td>
            <td><?php echo $el['email']; ?></td>
            <td><?php echo $this->storage(3)->getValueByKey($el['delivery']); ?></td>
            <td><?php echo $this->storage(4)->getValueByKey($el['payment']); ?></td>
            <td><?php echo $this->announce($el['adress'],200); ?></td>
            <td><?php echo $this->announce($el['message'],200); ?></td>
            <td><?php echo $this->storage(5)->getValueByKey($el['status']); ?></td>
            <td><?php echo $this->storage(6)->getValueByKey($el['payment_status']); ?></td>
			<td><?php echo $el['created_at']; ?></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<?php echo (count($this->paginator) > 1) ? $this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml') : ''; ?>
