<?php if ($this->error): ?>
    <h1><?php echo $this->translate('Ошибка'); ?></h1>
    <p><?php echo $this->translate("wrong_hash_or_order_allready_submitted"); ?></p>
<?php else: ?>
    <h1><?php echo $this->translate('Заказ подтвержден!'); ?></h1>
    <p><?php echo $this->translate("order_submitted"); ?></p>
<?php endif; ?>

<script type="text/javascript">
	$(document).ready(function(){
		ga('send', 'event', 'Order', 'Submitted');
		setTimeout(function(){yaCounter26829522.reachGoal('ORDER_SUBMITTED')}, 1000);
	});
</script>
