<?php
 /**
 * Description of ${NAME}
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */

 ?>
<div class="modal-header">
    <a href="#" class="close"></a>
    <h3><?php echo $this->translate('Оформление заказа'); ?></h3>
</div>
<div class="modal-body">
    <p><?php echo $this->translate("order_submit_thanks_info"); ?></p>
    <p><b><?php echo $this->translate("ВАЖНО") ?></b></p>
    <p><?php echo $this->translate("order_submit_email_message_notification"); ?>.</p>
    <p><?php echo $this->translate("check_your_email"); ?>.</p>
</div>
<?php if ($this->redirect): ?>
    <div class="hidden redirect"><?php echo $this->redirect; ?></div>
<?php endif; ?>
