<?php
 /**
 * Description of ${NAME}
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */

$prefix = Zend_Registry::get('prefix'); ?>

<div class="modal-header">
    <a href="#" class="close"></a>

    <h3><?php echo $this->translate('Оформление заказа'); ?></h3>
</div>
<div class="modal-body">
    <?php echo $this->message; ?>
    <?php if ($this->entries): ?>
    <table class="cart-table">
        <thead>
        <tr>
            <th><?php echo $this->translate('Наименование'); ?></th>
            <th width="20"><?php echo $this->translate('Количество'); ?></th>
            <th width="70"><?php echo $this->translate('Цена') . ', ' .$this->translate('грн'); ?></th>
        </tr>
        </thead>
        <tbody>
			<?php $deliveryMsgOffTrigger = false; ?>
            <?php foreach ($this->entries as $el): ?>
				<?php if ($el['ShopModification']['ShopModel']['category_id'] == 19) $deliveryMsgOffTrigger = true; ?>
        <tr>
            <?php $colortitle = $el['ShopColor']['title' . $prefix];
            if ($colortitle) {
                $colorhex = $el['ShopColor']['hex'];
                $color = ', ' . $colortitle;
                $colorhexblock = '<span class="cart-color-hex" style="background-color: ' . $colorhex . '"></span>';
            } else {
                $color = '';
                $colorhexblock = '';
            }

            $name = $el['ShopModification']['ShopModel']['ShopBrand']['title'] . ', '
                    . $el['ShopModification']['ShopModel']['title' . $prefix] . ', '
                    . $el['ShopModification']['title' . $prefix];
            $image_id = $el['ShopModification']['ShopModel']['image_id'];
            $image = ($image_id)
                    ? $this->imageView($image_id, 0, array('width' => 28, 'maxHeight' => 28, 'class' => 'cart-product-image'), 'shop_model')
                    : ''; ?>
            <td><?php echo $image . $colorhexblock; ?><span class="title"><?php echo $name . $color; ?></span></td>
            <td style="text-align: center;"><?php $count = $el['count']; $sumcount += $count; echo $count; ?></td>
            <td style="text-align: right;">
                <?php $price = $el['ShopModification']['price'];
                $sumprice += $price * $count;
                echo $price;
                ?>
            </td>
        </tr>
            <?php endforeach; ?>
        <tr>
            <td style="text-align: right;" colspan="3"><?php echo $this->translate('Сумма к оплате') . ': <b>' . $this->shopUserDiscount($sumprice) . '</b>'; ?></td>
        </tr>
        </tbody>
    </table>

    <div class="info">
        <h3><?php echo $this->translate('Информация о заказе'); ?></h3>

        <form id="form-checkout" enctype="application/x-www-form-urlencoded" action="" method="post">
            <?php echo $this->form->token; ?>
            <?php echo $this->form->user_id; ?>
            <div class="first">
                <?php echo $this->form->fio; ?>
                <?php echo $this->form->email; ?>
                <?php echo $this->form->phone; ?>
                <?php echo $this->form->payment; ?>
                <?php echo $this->form->delivery; ?>
            </div>
            <div class="second">
                <?php echo $this->form->adress; ?>
                <?php echo $this->form->message ?>
            </div>
        </form>

        <p>Доставка товара возможна только при покупке от <b>5000 руб.</b></p>
    </div>


    <?php else: ?>
    <p><?php echo $this->translate('Ваша корзина пуста'); ?></p>
    <?php endif; ?>
</div>
<div class="modal-footer" style="margin-top: -30px;">
    <?php /* if (!$this->discount_title): ?>
    <div style="float: left; width: 400px;">
        <?php echo $this->translate('Discount_ShopCart_message') ?>
    </div>
    <?php else: ?>
        <?php echo $this->translate('Discount_ShopCart_message_is') ?> <b><?php echo $this->discount_title; ?></b>
    <?php endif; */ ?>
    <a id="cart-back" href="">&larr; Вернуться в корзину</a>
    <div class="btns cart-modal"><button id="cart-submit"class="button black" type="submit">Подтвердить<span></span></button></div>
</div>
