<?php
 /**
 * Description of ${NAME}
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */
 
 ?>
<h1>Подтверждение заказа</h1>
<p>Заказ успешно подтвержден.</p>
<p>Мы свяжемся с вами в ближайшее время</p>