<?php
 /**
 * Description of ${NAME}
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */
?>

<?php if ($this->error): ?>
    <h1><?php echo $this->translate("Ошибка"); ?></h1>
    <p><?php echo $this->translate("Возможно, была допущена ошибка во время выполнения операции оплаты."); ?></p>
    <p class="nopadding"><?php echo $this->translate("Повторить платеж"); ?></p>
    <?php echo $this->form; ?>
<?php else: ?>
    <h1><?php echo $this->translate("Заказ оплачен!"); ?></h1>
    <p><?php echo $this->translate("Спасибо! Заказ №") . ' ' . $this->order_number . ' ' .$this->translate("успешно оплачен. Мы обязательно свяжемся с Вами в ближайшее время."); ?></p>
<?php endif; ?>