<?php
 /**
 * Description of ${NAME}
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */
?>

<?php if ($this->error): ?>
    <h1><?php echo $this->translate('Ошибка'); ?></h1>
    <p><?php echo $this->translate("wrong_hash_or_order_allready_payed"); ?></p>
<?php else: ?>
    <h1><?php echo $this->translate('Заказ подтвержден!'); ?></h1>
    <p><?php echo $this->translate("order_submitted"); ?></p>
    <h2><?php echo $this->translate('Оплата заказа через VISA/MasterCard'); ?></h2>
    <p><?php echo $this->translate("payment_liqpay_about"); ?></p>
    <?php echo $this->form; ?>
<?php endif; ?>