<a href="#" id="user-auth-title" data-controls-modal="modal"><?php echo $this->storage->email; ?></a>
<a href="<?php echo $this->url(array('controller' => 'users','action' => 'logout'),'default'); ?>" id="user-auth-logout"><?php echo $this->translate('Выход'); ?></a></span>