<a rel="nofollow" href="#" id="user-auth-login" data-controls-modal="modal"><?php echo $this->translate('Вход'); ?></a>
<a rel="nofollow" href="#" id="user-auth-registration" data-controls-modal="modal"><?php echo $this->translate('Регистрация'); ?></a>