<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
    <tr>
        <th width="200">Email</th>
        <th>ФИО</th>
        <th>Адрес</th>
        <th width="150">Дисконтная карта</th>
        <th width="50">Скидка</th>
        <th width="30">#</th>
    </tr>
    </thead>
    <?php if ($this->entries): ?>
        <?php foreach ($this->entries as $el): ?>
            <tr>
                <td><a href="/users/edit/id/<?php echo $el['id']; ?>"><?php echo $el['email']; ?></a></td>
                <td><a href="/users/edit/id/<?php echo $el['id']; ?>"><?php echo $el['fio']; ?></a></td>
                <td><?php echo $el['adress']; ?></td>
                <td><?php echo $el['discount_card']; ?></td>
                <td><?php echo $el['d_title']; ?></td>
                <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
</table>