<h1><?php echo $this->translate('Восстановление пароля'); ?></h1>
<?php if ($this->error): ?>
    <p><?php echo $this->translate("Ошибка. Возможно ссылка устарела или имеет неправильные параметры. Попробуйте еще раз. Спасибо."); ?></p>
<?php else: ?>
    <p><?php echo $this->translate("Спасибо! На Ваш email отправлена информация с данными для авторизации."); ?></p>
    <p><a href="<?php echo $this->url(array('controller' => 'index','action' => 'index'),'default',false) ?>"><?php echo $this->translate("На главную"); ?></a></p>
<?php endif; ?>