<?php
 /**
 * Description of modal.phtml
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */

?>
<div class="modal-header" act="<?php echo $this->act; ?>">
    <a href="#" class="close"></a>
    <h3><?php echo $this->title ?></h3>
</div>
<div class="modal-body">
    <?php echo $this->form ?>
    <?php echo $this->message; ?>
</div>
<?php if (!$this->hidesubmit): ?>
<div class="modal-footer">
   <a href="#" class="btn" id="modal-save"><?php echo ($this->submittitle)
            ? $this->submittitle : 'Сохранить'; ?></a>
</div>
<?php endif; ?>
<?php
/**
 * Костыль. Флаг для callback функции AJAX, о том, что авторизация прошла успешно.
 */
echo ($this->islogined) ? '<div class="hidden">success</div>' : '';
?>

<?php
/**
 * Костыль. Флаг для callback функции AJAX, о том, что авторизация осуществляется из корзины.
 */
echo ($this->iscart) ? '<div id="iscart" class="hidden">iscart</div>' : '';
?>