<div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><?php echo $this->translate('История заказов'); ?></h3>
</div>
<div class="modal-body">

    <?php if ($this->orders): ?>
    <?php foreach ($this->orders as $order): ?>

        <?php
            ob_start();
            printf("%04d", $order['id']);
            $order_number = ob_get_contents();
            ob_end_clean();
        ?>
        <p><?php echo $this->translate('Заказ №') .' <b> ' . $order_number . '</b> ' .  $this->translate('от').' ' . date("d.m.Y",strtotime($order['created_at'])) . ' <br />'
                      . $this->translate($this->storage(3)->getValueByKey($order['delivery'])) . ' | '
                      . $this->translate('Статус:') . ' ' . $this->translate($this->storage(5)->getValueByKey($order['status'])) . ' / '
                      . $this->translate($this->storage(6)->getValueByKey($order['payment_status'])) . ' | '
                      . $this->translate('Вид оплаты:') . ' ' . $this->translate($this->storage(4)->getValueByKey($order['payment']));
        ?></p>
        <?php /*$products = $this->orderModifs->findAllByOrderId($order['id']); ?>

        <?php if ($products): ?>

            <?php $summprice = 0; ?>
            <?php $summcount = 0; ?>

            <table class="zebra-striped table-compact">
                <tr>
                    <th><?php echo $this->translate("Наименование"); ?></th>
                    <th width="100"><?php echo $this->translate("Цена") . ', ' . $this->translate("грн"); ?></th>
                    <th width="50"><?php echo $this->translate("Количество"); ?></th>
                </tr>
                <?php foreach ($products as $el): ?>
                <tr>
                    <td><?php echo $el['b_title'] . ' ' . $el['m_title'] . ' ' . $el['mf_title'] . ' ' . $el['c_title']; ?></td>
                    <td><?php echo $el['price'] ?></td>
                    <td><?php echo $el['count'] ?></td>
                </tr>
                <?php $summprice += $el['price'] * $el['count']; ?>
                <?php $summcount += $el['count']; ?>
                <?php endforeach; ?>
                <tr>
                    <td style="border-top: 1px solid #666;"></td>
                    <td style="border: 1px solid #666; ">
                    <?php $sumprice = number_format($sumprice, 2, '.', ''); ?>
                    <?php if ($this->discount || $sumprice >= 10000): ?>
                    <?php $sumprice = $sumprice * 0.9; ?>
                        <?php echo '<span class="marked">-10%</span> = ' . $sumprice; ?></b></td>
                    <?php else: ?>
                        <?php echo $sumprice; ?>
                    <?php endif; ?>
                    </td>
                    <td style="border-top: 1px solid #666;"><?php echo $summcount; ?></td>
                </tr>
            </table>
            <?php endif; */?>

            <hr />

        <?php endforeach; ?>

    <?php else: ?>
        <p><?php echo $this->translate('Список пуст'); ?></p>
    <?php endif; ?>

</div>