<div class="modal-header">
        <a href="#" class="close"></a>
        <h3><?php echo $this->translate('Избранное'); ?></h3>
    </div>
    <div class="modal-body">
    <?php if ($this->message): ?>
        <p><?php echo $this->message; ?></p>
        <p><a id="login" data-controls-modal="modal" class="btn" href="#"><?php echo $this->translate("Войти"); ?></a></p>
    <?php else: ?>
        <?php if ($this->entries): ?>
        <?php $prefix = Zend_Registry::get('prefix'); ?>
        <table class="cart-table">
            <thead>
            <tr>
                <th><?php echo $this->translate('Наименование'); ?></th>
                <th width="70"><?php echo $this->translate('Цена') . ', ' . $this->translate('грн'); ?></th>
                <th width="70"><?php echo $this->translate('Покупка'); ?></th>
                <th width="50"><?php echo $this->translate('Удалить'); ?></th>
            </tr>
            </thead>
            <tbody>
                <?php foreach ($this->entries as $el): ?>
            <tr>
                <?php
                $colortitle = $el['ShopColor']['title' . $prefix];
                if ($colortitle) {
                    $colorhex = $el['ShopColor']['hex'];
                    $color = ', ' . $colortitle;
                    $colorhexblock = '<span class="cart-color-hex" style="background-color: '.$colorhex.'"></span>';
                } else {
                    $color = '';
                    $colorhexblock = '';
                }

                $name = $el['ShopModification']['ShopModel']['ShopBrand']['title'] . ', '
                        . $el['ShopModification']['ShopModel']['title' . $prefix] . ', '
                        . $el['ShopModification']['title' . $prefix];
                $image_id = $el['ShopModification']['ShopModel']['image_id'];
                $image = ($image_id) ? $this->imageView($image_id,0,array('width' => 28, 'maxHeight' => 28,'class' => 'cart-product-image'),'shop_model') : '' ;

                $price = $el['ShopModification']['price'];

                ?>
                <td><?php echo $image . $colorhexblock; ?><span class="title"><?php echo $name . $color; ?></span></td>
                <td style="text-align: right;"><?php echo $price; ?></td>
                <td>
                    <input type="hidden" class="cart-count" value="1" />
                    <a href="#" class="add-to-cart_from-fav" modif-id="<?php echo $el['ShopModification']['id']; ?>" color-id="<?php echo $el['ShopColor']['id']; ?>" title="<?php echo $this->translate('В корзину'); ?>"><?php echo $this->translate('В корзину'); ?></a>
                </td>
                <td><div class="favorites-delete" cart-id="<?php echo $el['id']; ?>">×</div></td>
            </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php else: ?>
        <p><?php echo $this->translate('Ваш список избранного пуст'); ?></p>
        <?php endif; ?>
    <?php endif; ?>
</div>