<?php
 /**
 * Description of modal.phtml
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */

?>
<div class="modal-header" act="<?php echo $this->act; ?>">
  <a href="#" class="close">&times;</a>
  <h3><?php echo $this->title ?></h3>
</div>
<div class="modal-body">
  <?php echo $this->form ?>
</div>
<div class="modal-footer">
  <a href="#" class="btn" id="modal-save"><?php echo ($this->submittitle) ? $this->submittitle : 'Сохранить'; ?></a>
</div>