<h3><?php echo $this->title; ?></h3>
<p><a href="/gallery/list">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table class="edittable">
        <tr>
            <td colspan="<?php echo $this->cmsConfig('languages_count'); ?>">
                <?php echo $this->form->image; ?>
            </td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Описание</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>            
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{caption . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
    </table>
</form>