<h3><?php echo $this->title; ?></h3>
<p><a class="btn" href="/gallery/edit/id/<?php echo $this->galleryid; ?>">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <p><a href="<?php echo $this->imageFilepathOriginal($this->id, 0, 'gallery') ?>"><?php echo $this->imageView($this->id, 0, array('width' => '200'), 'gallery'); ?></a></p>
    <table class="edittable">
        <tr>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
                <?php echo $this->form->image; ?>
            </td>
        </tr>
        <tr>
            <td>Приоритет</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->sortorder; ?></td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Описание</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{caption . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
    </table>
</form>