<h3><?php echo $this->title; ?></h3>
<p><a href="/gallery/edit/id/<?php echo $this->gallery_id; ?>">&larr; Назад</a></p>
<div class="clearfix">
    <ul class="gallery_image_list">
        <?php if ($this->entries): ?>
            <?php foreach ($this->entries as $el): ?>
                <li class="gallery_image_item" id="<?php echo $el['id'] ?>">
                    <a href="/galleryimage/edit/id/<?php echo $el['id'] ?>"><?php echo $this->imageView($el['id'], 0, array('width' => '75', 'maxHeight' => '75'), 'gallery'); ?></a>
                    <div class="delete" style="display:inline;" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></div><span>ID = <?php echo $el['id']; ?></span>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
    </ul>
</div>


<script type="text/javascript">
    $(function() {        
        $( ".gallery_image_item" ).draggable({
            drag: function( event, ui ) {
                $(this).css('opacity','0.7').css('z-index','15000')
            },
            stop: function( event, ui ) {
                if (!ui.droppable) {
                    location.href = '';
                }
            }
        });
        $( ".gallery_image_item" ).droppable({
            drop: function( event, ui ) {                     
                var first = $(this).attr('id');
                var second = ui.draggable.attr('id');
                $.ajax({
                    url: "/galleryimage/changeorder",
                    data: ({
                        first: first,
                        second: second
                    }),
                    type: "POST",
                    success: function() {
                        location.href = '';
                    }
                });
            }
        });
    });
</script>