<?php echo $this->doctype('XHTML1_TRANSITIONAL'); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php
        $this->headTitle()->setSeparator(' | ');
        $this->headTitle('Административная панель');
        echo $this->headTitle();
        ?>
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <?php
        echo $this->headLink()
                ->appendStylesheet('/lib/bootstrap/bootstrap.min.css')
                ->appendStylesheet('/css/admin.css')
                ->appendStylesheet('https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css');
        echo $this->headScript()
                ->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
                ->appendFile('https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
                ->appendFile('/lib/fileupload/jquery.fileupload.js')
                ->appendFile('/lib/fileupload/jquery.iframe-transport.js')
                ->appendFile('/js/admin.js')
                ->appendFile('/lib/jquery.tablesorter.min.js')
                //->appendFile('/lib/bootstrap/js/bootstrap-alerts.js')
                //->appendFile('/lib/bootstrap/js/bootstrap-dropdown.js')
                ->appendFile('/lib/bootstrap/js/bootstrap-modal.js')
                //->appendFile('/lib/bootstrap/js/bootstrap-popover.js')
                //->appendFile('/lib/bootstrap/js/bootstrap-scrollspy.js')
                //->appendFile('/lib/bootstrap/js/bootstrap-tabs.js')
                //->appendFile('/lib/bootstrap/js/bootstrap-twipsy.js')
                ;
        ?>
    </head>
    <body class="tundra">
        <div class="head">
            <div class="logo">
                <a href="">
                    <img src="/images/admin/wezoom-cms.png" alt="" />
                </a>
            </div>
            <div class="navigation">
                <span class="navigation-callback">
                    <a href="mailto:web@wezoom.net">Написать администратору</a>
                </span> | <span class="navigation-gohome">
                    <a href="/" target="_blank">На сайт</a>
                </span> | <span class="navigation-logout">
                    <a href="/admin/logout">Выход</a>
                </span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="main">
            <div class="container-fluid">
                    <div class="panel sidebar">
                        <?php echo $this->render('admin/panel.phtml'); ?>
                    </div>
                    <div class="content" style="min-height: 500px;">
                        <div class="content-head">
                            <ul class="content-head-menu">
                                <li><?php echo $this->chSave(); ?></li>
                                <li><?php echo $this->chAdd(); ?></li>
                                <li><?php echo $this->chDel(); ?></li>
                            </ul>
                        </div>
                        <div class="content-body">
                            <?php echo $this->layout()->content; ?>
                        </div>
                    </div>
            </div>
        </div>
        <div class="foot">
            <?php echo $this->render('admin/foot.phtml') ?>
        </div>
        <div style="display: none">
            <?php echo $this->frontParams(); ?>
        </div>
    </body>
</html>
