<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><?php echo $this->title; ?></title>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <?php
        echo $this->headLink()
            ->prependStylesheet('/lib/bootstrap/bootstrap.min.css')
            ->appendStylesheet('/css/admin.css');
        ?>
    </head>
    <body>
        <div class="head">
            <div class="logo">
                <a href="">
                    <img style="float:left;" src="/images/admin/wezoom-cms.png" alt="" />
                     <span style="font-size:26px; line-height: 30px;">WeZoom CMS<br/></span>
                     <span>панель управления сайтом<br/></span>
                     <span><?php echo HTTP_HOST; ?></span>
                </a>
            </div>
            <div class="navigation">
                <span class="navigation-callback">
                    <a href="mailto:web@wezoom.net">Написать администратору</a>
                </span> | <span class="navigation-gohome">
                    <a href="/">На сайт</a>
                </span>
            </div>
        </div>
        <?php echo $this->layout()->content; ?>
        <div class="foot">
            <?php echo $this->render('admin/foot.phtml') ?>
        </div>
    </body>
</html>
