<div class="wrapper-in">
    <div class="left">
        <div class="copyright">© <?php echo (date('Y') == 2012) ? '2012' : '2012 - ' . date('Y'); ?> "<a
                    href="/"><?php echo $this->translate('Company_name'); ?></a>"
            | <?php echo $this->translate('All rights reserved'); ?></div>
        <div class="creator">Created by:
            <a class="yona" href="https://yonastudio.com/" target="_blank">YonaStudio.com</a>
        </div>
    </div>

    <div class="right">
        <div class="socials">
            Социальные сети:
            <a id="fb" target="_blank" href="https://www.facebook.com/hamameu/" title="FaceBook"></a>
            <a id="ig" target="_blank" href="https://www.instagram.com/hamameu/" title="Instagram"></a>
            <a id="vk" target="_blank" href="https://vk.com/hamamshop" title="Vkontakte"></a>
        </div>
        <div class="email">E-mail: <b>info@hamamshop.ru</b></div>
    </div>

    <div class="center">
        <div class="menu">
            <?php echo $this->topMenu(); ?>
        </div>
        <div class="phone">Наш телефон в Москве: <b>8 (964) 539-27-82</b></div>
    </div>

</div>


<div id="modal" class="modal hide">
    <a href="#" class="close"></a>
    <div class="modal-body">
        <img src="/images/admin/ajaxLoader.gif"/>
    </div>
</div>


<div id="cart-modal" class="modal hide">
    <a href="#" class="close"></a>
    <div class="modal-body">
        <img src="/images/admin/ajaxLoader.gif"/>
    </div>
</div>

<?php echo $this->frontParams(); ?>


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26829522 = new Ya.Metrika2({
                    id:26829522,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/26829522" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Код Google для тегу ремаркетингу -->
<!--------------------------------------------------
Теги ремаркетингу не можна пов’язувати з особистою інформацією або розміщувати на сторінках, пов’язаних із категоріями делікатного характеру. Докладніші відомості та вказівки з налаштування тегу див. за адресою http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    var google_tag_params = {
        ecomm_prodid: 'REPLACE_WITH_VALUE',
        ecomm_pagetype: 'REPLACE_WITH_VALUE',
        ecomm_totalvalue: 'REPLACE_WITH_VALUE',
    };
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 959130786;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/959130786/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
