<!-- <div style="display: none;">
  <div class="box-modal" id="boxUserFirstInfo">
    <div class="box-modal_close arcticmodal-close">закрыть</div>
<img class="fw-img" src="/images/winter-banner-min.jpg" alt="Акция">
  </div>
</div>
<script>
(function($) {
$(function() {

  // Проверим, есть ли запись в куках о посещении посетителя
  // Если запись есть - ничего не делаем
  if (!$.cookie('was')) {

    // Покажем всплывающее окно
    $('#boxUserFirstInfo').arcticmodal({
      closeOnOverlayClick: false,
      closeOnEsc: true
    });

  }

  // Запомним в куках, что посетитель к нам уже заходил
  $.cookie('was', true, {
    expires: 1,
    path: '/'
  });

})
})(jQuery)
</script> -->
<div class="wrapper">
    <div class="wrapper-in">

        <div id="shop-cart" data-controls-modal="cart-modal" data-backdrop="true">
            <?php echo $this->shopCart(); ?>
        </div>

        <div class="phonenumber">8 (964) 539-27-82</div>

        <div id="top-menu_button"><span></span><span></span><span></span></div>

        <div class="top-menu">
            <?php echo $this->topMenu(); ?>
        </div>

        <div class="search">
            <form id="search" action="<?php echo $this->url(array(), 'search') ?>" method="get">
                <button class="search-submit" type="button"></button>
                <input type="text" class="search-input" name="q" placeholder="<?php echo $this->translate('Поиск'); ?>"
                       value="<?php echo $this->q; ?>"/>
            </form>
        </div>

        <a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'),'default',false); ?>" class="logo">
        </a>


    </div>
</div>
