<?php echo $this->doctype('XHTML1_TRANSITIONAL'); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo Zend_Registry::get('lang'); ?>"
      lang="<?php echo Zend_Registry::get('lang'); ?>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <?php
    $this->headTitle()->setSeparator(' | ');
    $this->headTitle($this->translate('Company_name'));
    echo $this->headTitle();

    $this->headMeta()->setName('author', 'Веб-студия WeZoom http://wezoom.com.ua. Torosh Aleksandr');
    echo $this->headMeta();
    ?>
    <meta property="og:title" content="<?php echo str_replace(array('<title>','</title>'),array('',''),$this->headTitle()); ?>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<?php echo SERVERNAME . $this->url(); ?>" />
    <meta property="og:site_name" content="hamamshop.ru" />
    <?php if ($this->og_image): ?>
        <meta property="og:image" content="<?php echo $this->og_image; ?>"/>
    <?php endif; ?>

    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">

    <?php
    $this->headLink()
        ->prependStylesheet('/lib/bootstrap/bootstrap.min.css')
        ->appendStylesheet('/lib/toastr/toastr.min.css')
        ->appendStylesheet($this->compress('/css/main.css'))
        ->appendStylesheet('/lib/pirobox/css/style.css')
        ->headLink(array('rel' => 'shortcut icon',
                        'href' => '/images/favicon.ico'), 'PREPEND');
    echo $this->headLink();

    $this->headScript()
        ->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
        ->appendFile('/lib/pirobox/pirobox.min.js')
        ->appendFile('/lib/toastr/toastr.min.js')
        ->appendFile($this->compress('/js/main.js'))
        ->appendFile('/lib/jquery.pngFix.pack.js')
        ->appendFile($this->compress('/lib/bootstrap/js/bootstrap-modal.js'))
        ->appendFile('/js/languages/' . Zend_Registry::get('lang') . '.js');
    echo $this->headScript();
    ?>
    <?php echo $this->jsCode(); ?>
    <!--[if IE]>
    <link href="/css/ie.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
<!-- cookie -->
<script src="//yandex.st/jquery/cookie/1.0/jquery.cookie.min.js"></script>
<!-- arcticModal -->
<script src="/js/jquery.arcticmodal-0.3.min.js"></script>
<link rel="stylesheet" href="/css/jquery.arcticmodal-0.3.css">

<!-- arcticModal theme -->
<link rel="stylesheet" href="/css/simple.css">
</head>
<body>
<div id="head">
    <?php echo $this->render('head.phtml'); ?>
</div>
<div class="main">
    <div class="wrapper-in">
        <div class="sidebar">
            <?php echo $this->shopMenu(); ?>
        </div>

        <div class="content">
            <?php echo $this->layout()->content; ?>
        </div>
    </div>

    <?php if ($this->homepage): ?>

        <div id="girl">
            <img src="/images/banner/hamam-girl.png" width="100%">
        </div>

        <div class="wrapper-in">
            <?php echo $this->shopHomepageRandomProducts(); ?>
            <?php echo $this->content; ?>
        </div>

        <?php if (Zend_Registry::get('lang') == 'ru'): ?>
            <?php echo $this->widgetArticles(); ?>
        <?php endif; ?>

    <?php endif; ?>

</div>
<div id="foot">
    <?php echo $this->render('foot.phtml'); ?>
</div>
</body>
</html>
