<?php
/**
 * Created by JetBrains PhpStorm.
 * User: webtorua
 * Date: 19.11.11
 * Time: 16:49
 * To change this template use File | Settings | File Templates.
 */
$prefix = Zend_Registry::get('prefix');
if ($this->entries): ?>
    <div class="articles">
        <div class="wrapper-in">
            <h3><?php echo $this->translate('Статьи'); ?></h3>

            <div class="all">
                <?php foreach ($this->entries as $el): ?>
                    <?php $url = $this->url(array('id' => $el['id'], 'slug' => $el['slug']), 'article'); ?>

                    <div class="art">
                        <div class="art-img"
                             style="background-image: url('<?php echo $this->imageFilepath($el['id'], 0, array('width' => 600), 'articles'); ?>');"></div>
                        <h4><a href="<?php echo $url; ?>"><?php echo $el['title' . $prefix]; ?></a></h4>
                        <p><?php echo $this->announce($el['text' . $prefix], 200); ?></p>
                    </div>

                <?php endforeach; ?>
            </div>

        </div>
    </div>
<?php endif; ?>
