<?php
/**
 * Created by JetBrains PhpStorm.
 * User: webtorua
 * Date: 19.11.11
 * Time: 16:49
 * To change this template use File | Settings | File Templates.
 */
$prefix = Zend_Registry::get('prefix');
if ($this->entries): ?>
<div class="widget news">
    <h3><?php echo $this->translate('Новости'); ?>:</h3>
    <?php foreach ($this->entries as $el): ?>
        <?php $url = $this->url(array('id' => $el['id'], 'slug' => $el['slug']),'newspost'); ?>
        <div class="date"><?php echo date("d.m.Y",strtotime($el['created_at'])); ?></div>
        <h4><a href="<?php echo $url; ?>"><?php echo $el['title' . $prefix]; ?></a></h4>
        <p><?php echo $this->announce($el['text' . $prefix],150); ?></p>
    <?php endforeach; ?>
</div>
<?php endif; ?>
