<h3><?php echo $this->title; ?></h3>
<p><a href="/shop-brands/list/" class="btn">Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td>Название</td>
            <td><?php echo $this->form->title ?></td>
        </tr>
        <tr>
            <td width="150">Translitaration</td>
            <td><?php echo $this->form->name; ?></td>
        </tr>
        <!--<tr>
            <td>Описание</td>
            <td><?php //echo $this->form->text; ?></td>
        </tr>-->
    </table>
</form>