<h3><?php echo $this->title; ?></h3>
<p><a href="/shop-brands/list/" class="btn">Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td width="150">Название</td>
            <td><?php echo $this->form->title ?></td>
        </tr>
        <tr>
            <td width="150">Translitaration</td>
            <td><?php echo $this->form->name; ?></td>
        </tr>
        <!--<tr>
            <td>Изображение</td>
            <td>
                <input id="fileupload" type="file" name="file" act="/upload/image?type=shop_brand&id=<?php //echo $this->id; ?>" />
                <br />
                <div id="image"><?php //echo ($this->img_thumb) ? $this->imageView($this->id, 0, array('width' => '100'), 'shop_brand') : 'Изображение отсутствует'; ?></div>
            </td>
        </tr> -->
        <!--<tr>
            <td>Описание</td>
            <td><?php //echo $this->form->text; ?></td>
        </tr>-->
    </table>
</form>