<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
        <tr>
            <th class="header">Название</th>
            <th class="header">Translitaration</th>
            <th width="30" class="header red">#</th>
        </tr>
    </thead>
    <tbody>
            <?php foreach ($this->entries as $el): ?>
                <tr>
                    <td><a href="/shop-brands/edit/id/<?php echo $el['id']; ?>"><?php echo $el['title']; ?></a></td>
                    <td><?php echo $el['name']; ?></td>
                    <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
                </tr>
            <?php endforeach; ?>
    </tbody>
</table>