<h3><?php echo $this->title; ?></h3>
<p><a href="/articles/list" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="150">URL</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->slug; ?></td>
        </tr>
        <?php if ($this->cmsConfig('articles_category') == '1'): ?>
            <tr>
                <td>Категория</td>
                <td colspan="2">
                    <div id="category_title"><?php echo $this->category()->getCategoryTitleTrById($this->category_id, Zend_Registry::get('lang')) ?></div>
                    <div id="link" category="<?php echo $this->cmsConfig('articles_category_root'); ?>"><?php echo $this->translate('Выбрать'); ?></div>
                    <?php echo $this->form->category_id; ?>
                </td>            
            </tr>  
        <?php endif; ?>
        <td>Изображение</td>
        <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
            <input id="fileupload" type="file" name="file" act="/upload/image?type=articles&id=<?php echo $this->id; ?>">
            <br />
            <div id="image"><?php echo ($this->img_thumb) ? $this->imageView($this->id, 0, array('width' => '150'), 'articles') : 'Изображение отсутствует'; ?></div>
        </td>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Заголовок</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Meta-Description</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{description . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Keywords</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{keywords . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
            <tr>
                <td>
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{text . $val['p']}; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</form>

<div id="dialog" title="Выбор категории">
    <div id="category_panel">
        <div id="category_panel_field"></div>        
    </div>
</div>