<?php $prefix = Zend_Registry::get('prefix'); ?>

<h1 class="title"><?php echo $this->title; ?></h1>

<?php foreach ($this->paginator as $el): ?>
    <div class="row">
        <?php if ($el['img_thumb']): ?>
            <a class="thumbnail" style="background-image: url('<?php echo $this->imageFilepath($el['id'], 0, array('width' => '600'), 'articles'); ?>');" href="<?php echo $this->url(array('slug' => $el['slug'], 'id' => $el['id']), 'article') ?>"></a>
        <?php endif; ?>

        <div class="articles-text">
            <h4><a href="<?php echo $this->url(array('slug' => $el['slug'], 'id' => $el['id']), 'article') ?>"><?php echo $el['title' . $prefix]; ?></a></h4>
            <p><?php echo $this->announce($el['text' . $prefix], 250) ?> <a href="<?php echo $this->url(array('slug' => $el['slug'], 'id' => $el['id']), 'article') ?>"><?php echo $this->translate('Подробнее'); ?> &rarr;</a></p>
        </div>
    </div>
<?php endforeach; ?>

<?php echo (count($this->paginator) > 1) ? $this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml') : ''; ?>
