<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
        <tr>
            <th width="30">ID</th>
            <th>Название</th>
            <th>URL</th>
            <th width="100">Добавлена</th>
            <th width="30" class="red">#</th>
        </tr>
    </thead>
    <tbody>
        <?php if ($this->entries): ?>
            <?php foreach ($this->entries as $el): ?>
                <tr>
                    <td><?php echo $el['id']; ?></td>
                    <td><a href="/articles/edit/id/<?php echo $el['id']; ?>"><?php echo $el['title']; ?></a></td>
                    <td><?php echo $el['slug']; ?></td>
                    <td><?php echo date("d.m.Y", strtotime($el['created_at'])); ?></td>
                    <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>