<h1><?php echo $this->title; ?></h1>
    <?php if($this->img_thumb): ?>
<div class="post-preview">
    <a href="#" class="thumbnail"><?php echo $this->imageView($this->id, 0, array('width' => '300'), 'articles'); ?></a>
</div>
    <?php endif; ?>
<div class="art-in">
    <?php echo $this->content; ?>
    <a class="back" href="<?php echo $this->url(array('controller' => 'articles', 'action' => 'index'), 'default'); ?>/">&larr; <?php echo $this->translate("Вернуться к списку статей"); ?></a>
</div>