<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>404</title>
        <style type="text/css">
            /*Reset*/
            html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote, pre,a,abbr,acronym,address,big,cite,code,img,ins,kbd,q,s,samp,small,strike,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
            body{line-height: 1;}
            ol,ul {list-style: none;}
            blockquote,q{quotes: none;}
            blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
            table {border-collapse: collapse;border-spacing: 0;}
            table td {vertical-align: top; text-align: left;}

            body {
                font: normal 13px/120% Arial;
                color: #000;
                background: #FFF;
                padding: 300px 0 0 0;
                text-align: center;
            }
            h1 {
                font-weight: bold;
                font-size: 42px;
                line-height: 42px;
            }
            h2 {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
            }
            a {
                color: #4c6ba9;
            }

            a:hover {
                color: #6699FF;
                text-decoration: underline;
            }
        </style>
    </head>

    <body>
        <h1>401</h1>
        <h2>Доступ запрещен</h2>
        <p>Извините, у Вас недостаточно прав доступа для просмотра этой страницы.</p>
    </body>
</html>
