<h3><?php echo $this->title; ?></h3>
<p><a href="/news/list" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table class="edittable">
        <tr>
            <td width="150">URL</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->slug; ?></td>
        </tr>
        <td>Изображение</td>
        <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
            <input id="fileupload" type="file" name="file" act="/upload/image?type=news&id=<?php echo $this->id; ?>">
            <br />
            <div id="image"><?php echo ($this->img_thumb) ? $this->imageView($this->id, 0, array('width' => '150'), 'news') : 'Изображение отсутствует'; ?></div>
        </td>
        <tr>
            <td width="150">Дата</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->created_at; ?></td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Заголовок</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
            <tr>
                <td>
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{text . $val['p']}; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/i18n/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript">
    $(function() {
        $( "#created_at" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>