<h1><?php echo $this->title; ?></h1>

<?php foreach ($this->paginator as $el): ?>
    <div class="row">
        <div class="span3">
            <a class="thumbnail" href="<?php echo $this->url(array('slug' => $el['slug'], 'id' => $el['id']), 'newspost') ?>"><?php echo $this->imageView($el['id'], 0, array('width' => '150'), 'news'); ?></a>
        </div>
        <div class="span10">
            <span class="date"><?php echo date("d.m.Y", strtotime($el['created_at'])); ?></span>
            <h2 style="padding-bottom: 5px;"><a href="<?php echo $this->url(array('slug' => $el['slug'], 'id' => $el['id']), 'newspost') ?>"><?php echo $el['title']; ?></a></h2>
            <p><?php echo $this->announce($el['text'], 300) ?> <a href="<?php echo $this->url(array('slug' => $el['slug'], 'id' => $el['id']), 'newspost') ?>"><?php echo $this->translate('Подробнее'); ?> &rarr;</a></p>
        </div>
    </div>
    <hr />
<?php endforeach; ?>

<?php echo (count($this->paginator) > 1) ? $this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml') : ''; ?>
