<h3><?php echo $this->title; ?></h3>
<p><a href="/catalog-brands/list/" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td width="150">Translitaration</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->slug; ?></td>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Название</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>            
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
    </table>
</form>