<h3><?php echo $this->title; ?></h3>
<p><a href="/catalog-brands/list/" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="150">Название</td>
            <td><?php echo $this->form->title; ?></td>
        </tr>
        <tr>
            <td width="150">Translitaration</td>
            <td><?php echo $this->form->slug; ?></td>
        </tr>
        <tr>
            <td width="150">Производитель</td>
            <td><?php echo $this->form->brand_id; ?></td>
        </tr>
    </table>
</form>