<h3><?php echo $this->title; ?></h3>
<p><a href="/catalog-items/list/" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="150">Название</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>            
                <td class="bg-lang" width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td width="150">Translitaration</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->slug; ?></td>
        </tr>
        <tr>
            <td width="150">Бренд</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->brand_id; ?></td>
        </tr>
        <tr>
            <td>Категория</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
                <div id="category_title"><?php echo $this->category()->getCategoryTitleTrById($this->item['category_id'], Zend_Registry::get('lang')) ?></div>
                <div id="link" category="1"><?php echo $this->translate('Выбрать'); ?></div>
                <?php echo $this->form->category_id; ?>
            </td>
        </tr>
        <tr>
            <td>Изображения</td>
            <?php if ($this->id): ?>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
                    <input id="fileupload_prtf" type="file" name="file_prtf" act="/upload/catalog?id=<?php echo $this->id; ?>" />

                    <ul class="gallery_image_list">
                        <?php if ($this->images): ?>
                            <?php foreach ($this->images as $el): ?>
                                <li class="gallery_image_item" id="<?php echo $el['id'] ?>">
                                    <?php echo $this->imageView($el['id'], 0, array('width' => '75', 'maxHeight' => '75'), 'catalog'); ?><br/>
                                    <div class="delete-screen" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></div>
                                </li>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </ul>
                    <div class="clear"></div>
                </td>
            <?php else: ?>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">Для добавления изображений необходимо сохранить товар/услугу</td>
            <?php endif; ?>
        </tr>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td>Meta-Description</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{description . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Keywords</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{keywords . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
            <tr>
                <td>
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{text . $val['p']}; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</form>

<div id="dialog" title="Выбор категории">
    <div id="category_panel">
        <div id="category_panel_field"></div>        
    </div>
</div>

<script type="text/javascript">
    $(function() {        
        $( ".gallery_image_item" ).draggable({
            drag: function( event, ui ) {
                $(this).css('opacity','0.7').css('z-index','15000')
            },
            stop: function( event, ui ) {
                if (!ui.droppable) {
                    location.href = '';
                }
            }
        });
        $( ".gallery_image_item" ).droppable({
            drop: function( event, ui ) {                     
                var first = $(this).attr('id');
                var second = ui.draggable.attr('id');
                var item_id = $("#id").val();
                $.ajax({
                    url: "/catalog-items/change-order",
                    data: ({
                        first: first,
                        second: second,
                        item_id: item_id
                    }),
                    type: "POST",
                    success: function() {
                        location.href = '';
                    }
                });
            }
        });
    });
</script>