<p>Этот программный продукт является интеллектуальной собственностью и охраняется законодательством.</p>
<p>© 2010 - <?php echo date('Y') ?> веб-студия &laquo;<a href="https://yonastudio.com" target="blank">YonaStudio</a>&raquo; | Все права защищены</p>