<div class="panel-head">
    <div class="panel-head-name"><?php echo HTTP_HOST; ?></div>
</div>
<div class="panel-body">
    <?php
        $container = $this->adminPanel;
        $menu = $this->navigation()->menu($container);
        $menu->setUlClass('panel-menu');
        echo $menu->render();
    ?>
</div>
