<div class="conacts">
    <?php echo $this->content; ?>
</div>

<div class="form">

    <h3><?php echo $this->translate("Форма обратной связи"); ?></h3>

    <form method="post" action="" onsubmit="return checkCallbackForm();">
        <div class="line">
            <div class="input">
                <input placeholder="Ваше имя" class="xlarge req" id="name" name="name" size="30" type="text" />
            </div>
        </div>
        <div class="line">
            <div class="input">
                <input placeholder="Email"  class="xlarge req" id="email" name="email" size="16" type="text">
            </div>
        </div>
        <div class="line">
            <div class="input">
                <input placeholder="Телефон" class="xlarge" id="phone" name="phone" size="16" type="text">
            </div>
        </div>
        <div class="line">
            <div class="input">
                <textarea placeholder="Сообщение" class="xlarge req" id="message" name="message" rows="4"></textarea>
            </div>
        </div>
        <div class="line">
            <div class="btns">
                <button class="button black" type="submit">Отправить<span></span></button>
            </div>
        </div>
    </form>

</div>
