<h3><?php echo $this->title; ?></h3>
<p><a href="/pages/list" class="btn">&larr; Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td width="150">URL</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->slug; ?>.html
                <?php echo ($this->id) ? '<br /><a href="/' . $this->slug . '.html" target="blank">Посмотреть страницу</a>' : ''; ?>
            </td>
        </tr>
        <?php if ($this->cmsConfig('parent_page')): ?>
            <tr>
                <td width="150">Родительская страница</td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->parent_id; ?>
                    <?php if ($this->cmsConfig('parent_page')): ?>
                        <?php if ($this->breadcrumbs): ?>
                            <br /><br />
                            Предпросмотр:
                            <ul class="breadcrumb">
                                <?php foreach ($this->breadcrumbs as $el): ?>
                                    <?php $href = ($el['slug'] != 'index') ? $this->url(array('slug' => $el['slug']), 'page_html') : '/'; ?>
                                    <?php echo '<li><a href="' . $href . '" target="blank">' . $el['title'] . '</a><span class="divider">/</span></li>'; ?>
                                <?php endforeach; ?>
                                <li class="active"><?php echo $this->pagetitle; ?></li>
                            </ul>
                        <?php endif; ?>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endif; ?>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="150">Заголовок</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Meta-Description</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{description . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <tr>
            <td>Keywords</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{keywords . $val['p']} ?></td>
            <?php endforeach; ?>
        </tr>
        <?php foreach ($this->cmsConfig('lang_list') as $el => $val): ?>
            <tr>
                <td>
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{text . $val['p']} ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</form>