<?php if ($this->cmsConfig('parent_page')): ?>
    <?php if ($this->breadcrumbs): ?>
        <ul class="breadcrumb">
            <?php foreach ($this->breadcrumbs as $el): ?>
                <?php $href = ($el['slug'] != 'index') ? $this->url(array('slug' => $el['slug']), 'page_html') : '/'; ?>
                <?php echo '<li><a href="' . $href . '">' . $el['title'] . '</a><span class="divider">/</span></li>'; ?>
            <?php endforeach; ?>
            <li class="active"><?php echo $this->title; ?></li>
        </ul>
    <?php endif; ?>
<?php endif; ?>
<?php echo $this->content; ?>