<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
        <tr>
            <th>Название</th>
            <th>URL</th>
            <?php if ($this->cmsConfig('parent_page')): ?>
                <th>Родительская страница</th>
            <?php endif; ?>
            <th width="100">Добавлена</th>
            <th width="30" class="red">#</th>
        </tr>
    </thead>
    <tbody>
        <?php if ($this->entries): ?>
            <?php foreach ($this->entries as $el): ?>
                <tr>
                    <td><a href="/pages/edit/id/<?php echo $el['id']; ?>"><?php echo $el['title']; ?></a></td>
                    <td><?php echo $el['slug']; ?></td>
                    
                    <?php if ($this->cmsConfig('parent_page')): ?>
                        <?php $pages = new Default_Model_Pages(); ?>
                        <td><?php echo $pages->getParentPageTitleTrById($el['parent_id']); ?></td>
                    <?php endif; ?>
                        
                    <td><?php echo date("d.m.Y", strtotime($el['created_at'])); ?></td>
                    <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>