<?php if ($this->entries): ?>
        <?php $currents = Zend_Registry::get('filter_params_array'); ?>
    <ul class="filter-hor">
        <li class="brands"><?php echo $this->translate('СЕРИИ') ?>:</li>
        <li>
<a rel="nofollow" class="<?php echo ($currents['brand'] == '') ? 'active' : '' ; ?>" 

href="javascript:void(0);" onclick="location.href='<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('brand' => ''))),'shop_filter',false)); ?>';"

><?php echo $this->translate('Все'); ?></a></li>
    <?php foreach($this->entries as $el): ?>
        <li>
            <a rel="nofollow" class="<?php echo ($currents['brand'] == $el['name']) ? 'active' : '' ; ?>" 

<?php if ( !isset($this->params['brand']) && !isset($this->params['limit']) & !isset($this->params['sort']) & !isset($this->params['by'])): ?>
href="<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('brand' => $el['name']))),'shop_filter',false)); ?>"
<?php else: ?>
href="javascript:void(0);" onclick="location.href='<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('brand' => $el['name']))),'shop_filter',false)); ?>';"
<?php endif; ?>

><?php echo $el['title'] ?></a>
        </li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>
