<?php $prefix = Zend_Registry::get('prefix'); ?>

<?php if ($this->category_title): ?><h2><?php echo $this->category_title; ?><?php if ($this->brand): ?> <?php echo $this->brand; ?><?php endif; ?></h2><?php endif; ?>

<?php echo $this->shopBrandFilter(); ?>

<div class="filter-hor" style="margin-bottom: 25px;">
<div class="shop-limit-filter">
    Выводить по:
    <a rel="nofollow" <?php echo $this->shopSortFilterActive(array('limit' => '12'),'a'); ?> href="javascript:void(0);" onclick="location.href='<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('limit' => '12'))), 'shop_filter', false));?>';">12</a>
    <a rel="nofollow" <?php echo $this->shopSortFilterActive(array('limit' => '24'),'a'); ?> href="javascript:void(0);" onclick="location.href='<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('limit' => '24'))), 'shop_filter', false));?>';">24</a>
    <a rel="nofollow" <?php echo $this->shopSortFilterActive(array('limit' => '36'),'a'); ?> href="javascript:void(0);" onclick="location.href='<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('limit' => '36'))), 'shop_filter', false));?>';">36</a>
</div>
<?php echo $this->shopSortFilter(); ?>
</div>


<?php if ($this->paginator->getTotalItemCount() > 0): ?>

<ul class="shop-list">
    <?php foreach ($this->paginator as $el): ?>
    <?php $name = ($el['sb_name']) ? $el['sb_name'] . '_' . $el['name'] : $el['name']; ?>
    <?php $url = $this->url(array('id' => 'p' . $el['id'], 'name' => $name),'shop_product', false); ?>
    <li>
        <a href="<?php echo $url ?>" alt="<?php echo htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>" title="<?php echo htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>" class="thumbnail">
            <?php if (!$el['image_id']): ?>
            <img src="/images/layout/noimg.png"/>
            <?php else: ?>
            <div class="img-bg" style="background-image: url('<?php echo $this->imageFilepath($el['image_id'], 0, array('width' => 270, 'maxHeight' => 225), 'shop_model'); ?>')">
            </div>
            <?php endif; ?>

            <?php if ($el['discount']): ?><div class="discount">-<?php echo $el['discount']; ?></div><?php endif; ?>

        </a>
        <div class="shop-list-i-d">
            <a href="<?php echo $url ?>" alt="<?php htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>" title="<?php echo htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>">
                <div class="sb_title"><?php echo $el['sb_title']; ?></div>
                <div class="title"><?php echo $el['title' . $prefix] ?></div>
            </a>
        </div>
    </li>
    <?php endforeach; ?>
</ul>


<?php echo (count($this->paginator) > 1)
        ? $this->paginationControl($this->paginator, 'Sliding', 'paginator_filter.phtml')
        : ''; ?>

<div class="brand-text">
    <?php echo ($this->page == 1 && !$this->brand) ? $this->text : ''; ?>
</div>

<?php else: ?>

<p><?php echo $this->translate("К сожалению, ничего не найдено") . '. ' . $this->translate("Возможно, Вы найдете то что искали в"); ?> <a href="<?php echo $this->url(array(),'shop_catalog'); ?>"><?php echo $this->translate('Каталоге товаров') ?></a></p>

<?php endif; ?>
