<?php $prefix = Zend_Registry::get('prefix'); ?>
<?php $colors = new Default_Model_ShopColor(); ?>
<div id="goods">
    <div class="product-title">
        <h1><?php echo $this->data['sb_title']; ?><span><?php echo $this->data['title' . $prefix]; ?></span></h1>
    </div>
    <div class="product-img">
        <?php if ($this->data['discount']): ?><div class="discount">-<?php echo $this->data['discount']; ?></div><?php endif; ?>
        <ul id="product-gallery">
            <?php $i      = 0; ?>
            <?php foreach ($this->images as $el): ?>

                <?php $i_color = $colors->imageColor($el['id']); ?>
                <?php $imgAlt  = ($i_color != false) ? htmlspecialchars($i_color['title' . $prefix], ENT_QUOTES) : htmlspecialchars($this->data['title' . $prefix], ENT_QUOTES); ?>

                <li<?php echo ($i == 0) ? '' : ' style="display:none"' ?> data-image="<?php echo $el['id'] ?>" <?php /* echo (!empty($i_color)) ? ' id="image-color-' . $i_color['id'] . '"' : ''; */ ?>>
                    <a href="<?php echo $this->imageFilepathOriginal($el['id'], 0, 'shop_model'); ?>"
                       title="<?php echo $imgAlt; ?>"
                       class="pirobox" rel="gallery"
                       style="background-image: url('<?php echo $this->imageFilepath($el['id'], 0, array('width' => 500, 'alt'   => $imgAlt), 'shop_model'); ?>')">
                        <div class="zoom"></div>
                    </a>
                    <div class="color">
                        <?php echo $this->imageView($i_color['id'], 0, array('width' => 22, 'alt'   => htmlspecialchars($el['title' . $prefix], ENT_QUOTES)), 'shop_model_color'); ?>
                        <span><?php echo $i_color['title'] ?></span>
                    </div>
                </li>

                <?php $i++; ?>
            <?php endforeach; ?>

        </ul>
        <ul id="product-gallery-small">
            <?php $i      = 0; ?>
            <?php foreach ($this->images as $el): ?>

                <?php $i_color = $colors->imageColor($el['id']); ?>
                <?php $imgAlt  = ($i_color != false) ? htmlspecialchars($i_color['title' . $prefix], ENT_QUOTES) : htmlspecialchars($this->data['title' . $prefix], ENT_QUOTES); ?>

                <li class="<?php echo ($i == 0) ? 'active' : '' ?>">
                    <a href="javascript:void(0);"
                       data-image="<?php echo $el['id'] ?>"
                       title="<?php echo $imgAlt; ?>"
                       style="background-image: url('<?php echo $this->imageFilepath($el['id'], 0, array('width' => 500, 'alt'   => $imgAlt), 'shop_model'); ?>')">
                    </a>
                </li>
                <?php $i++; ?>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php if ($this->modifs): ?>
        <table class="modifs-table">
            <thead>
            <tr class="th">
                <th width="17%"><?php echo $this->translate('Размер'); ?></th>
                <th width="33%"><?php echo $this->translate('Цвет'); ?></th>
                <th><?php echo $this->translate('Цена'); ?></th>
                <th width="24%"><?php echo $this->translate('Покупка'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->modifs as $el): ?>
                <?php $presence = 0; ?>
                <tr>
                    <td><?php echo $el['title' . $prefix]; ?></td>
                    <td>
                        <?php if ($el['smc_count']): ?>
                            <?php $m_colors             = $colors->modifColors($el['id']); ?>
                            <?php ob_start(); ?>
                            <select class="product-clr-hex">
                                <?php $colorPresenceTrigger = 0; ?>
                                <?php foreach ($m_colors as $color): ?>
                                    <?php if ($color['presence']): ?>
                                        <option value="<?php echo $color['color_id']; ?>"><?php echo $color['title']; ?></option>
                                        <?php $colorPresenceTrigger = 1; ?>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </select>
                            <?php
                            $html                 = ob_get_contents();
                            ob_end_clean();
                            ?>
                            <?php echo ($colorPresenceTrigger) ? $html : ""; ?>
                            <?php if ($colorPresenceTrigger) $presence             = 1; ?>
                        <?php else: ?>
                            <?php $presence = $el['status']; ?>
                        <?php endif; ?>
                    </td>
                    <td class="cart-price" style="text-align: left;">
                        <?php if ($el['old_price']): ?><div class="old-price"><?php echo $el['old_price'] . ' ' . $this->translate('грн'); ?></div><?php endif; ?>
                        <?php echo $el['price'] . ' ' . $this->translate('грн'); ?></td>
                    <td>
                        <?php if ($presence): ?>
                            <input type="hidden" class="cart-count" value="1"/>
                            <a href="#" data-controls-modal="cart-modal" data-backdrop="true" class="add-to-cart" modif-id="<?php echo $el['id']; ?>"
                               title="<?php echo $this->translate('В корзину'); ?>"><?php echo $this->translate('В корзину'); ?></a>
                        <?php else: ?>
                            <?php echo $this->translate('Нет в наличии'); ?>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php else: ?>

        <div class="none"><?php echo $this->translate('Извините, к сожалению, этой модели нет в наличии.') ?></div>

    <?php endif; ?>
    <div class="product-descr">
        <?php echo $this->data['d_description']; ?>
    </div>


</div>

<script type="text/javascript">
    $(function() {
        //$('.product-descr').jScrollPane();
    });

    function setImageColor(color_id)
    {
        var element = $("#image-color-" + color_id);
        if (element.html()) {
            $("#product-gallery > li").hide();
            element.show();
        }

    }
</script>
<div class="other">
<?php if ($this->relatedProducts): ?>
    <h3><?php echo $this->translate('Другие товары из этой серии'); ?>:</h3>
    <?php
    echo $this->partial('shop/related-products.phtml', array(
        'entries' => $this->relatedProducts
    ));
    ?>
<?php endif; ?>
</div>
