<?php

echo '<ul class="' . $this->menu()->getUlClass() . '">';
// loop root level (only has Home, but later may have an Admin root page?)
foreach ($this->container as $page) {
    $isActive = $page->isActive(true);
    $liClass = $isActive ? ' class="active"' : '';
    echo '<li ' . $liClass . '>' . myhtmlify($this->menu()->htmlify($page)) . '</li>', PHP_EOL;
    // loop next level
    foreach ($page as $page) {
        $isActive = $page->isActive(true);
        $liClass = $isActive ? ' class="active"' : '';
        echo '<li ' . $liClass . '>' . myhtmlify($this->menu()->htmlify($page)) . '</li>', PHP_EOL;
        // next level
        foreach ($page as $page) {
            $isActive = $page->isActive(true);
            $liClass = $isActive ? ' class="active"' : '';
            echo '<li ' . $liClass . '>' . myhtmlify($this->menu()->htmlify($page)) . '</li>', PHP_EOL;
        }
    }
}
echo '</ul>';