<?php
/**
 * Created by JetBrains PhpStorm.
 * User: webtorua
 * Date: 21.11.11
 * Time: 23:53
 * To change this template use File | Settings | File Templates.
 */

$prefix = Zend_Registry::get('prefix');

?>
<h3 style="text-align: center;">Мы рекомендуем</h3>
<ul class="shop-list home">
    <?php foreach ($this->entries as $el): ?>
    <?php $name = ($el['sb_name']) ? $el['sb_name'] . '_' . $el['name'] : $el['name']; ?>
    <?php $url = $this->url(array('id' => 'p' . $el['id'], 'name' => $name), 'shop_product', false); ?>
    <li>
        <a href="<?php echo $url ?>" alt="<?php echo htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>"
           title="<?php echo htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>" class="thumbnail">
            <?php if (!$el['image_id']): ?>
            <img src="/images/layout/noimg.png"/>
            <?php else: ?>
            <div class="img-bg" style="background-image: url('<?php echo $this->imageFilepath($el['image_id'], 0, array('width' => 270, 'maxHeight' => 225), 'shop_model'); ?>')">
            </div>
            <?php endif; ?>
        </a>
        <div class="shop-list-i-d">
            <a href="<?php echo $url ?>" alt="<?php htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>"
               title="<?php echo htmlspecialchars($el['title' . $prefix], ENT_QUOTES) ?>">
                <div class="sb_title"><?php echo $el['sb_title']; ?></div>
                <div class="title"><?php echo $el['title' . $prefix] ?></div>
            </a>

        </div>
    </li>
    <?php endforeach; ?>
</ul>
