<?php
 /**
 * Description of ${NAME}
 * @copyright  Copyright (c) 2011 Aleksandr Torosh (http://wezoom.net)
 * @author Торош Александр <webtorua@gmail.com>
 */
?>

<div id="shop-sort-filter">
<?php echo $this->translate('Сортировать по'); ?>:&nbsp;
    <a class="active" href="">Поступлению</a>
    <a href="">Названию</a>
    <a href="">Серии</a>

<?php /*
<select>
    <option <?php echo $this->shopSortFilterActive(array()); ?> value="<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('sort' => null, 'by' => null))), 'shop_filter', false));?>">&nbsp;</option>
    <option <?php echo $this->shopSortFilterActive(array('sort' => 'title', 'by' => 'asc')); ?> value="<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('sort' => 'title', 'by' => 'asc'))), 'shop_filter', false));?>"><?php echo $this->translate('Названию'); ?> &darr;</option>
    <option <?php echo $this->shopSortFilterActive(array('sort' => 'title', 'by' => 'desc')); ?> value="<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('sort' => 'title', 'by' => 'desc'))), 'shop_filter', false));?>"><?php echo $this->translate('Названию'); ?> &uarr;</option>
    <option <?php echo $this->shopSortFilterActive(array('sort' => 'sb_title', 'by' => 'asc')); ?> value="<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('sort' => 'sb_title', 'by' => 'asc'))), 'shop_filter', false));?>"><?php echo $this->translate('Серии'); ?> &darr;</option>
    <option <?php echo $this->shopSortFilterActive(array('sort' => 'sb_title', 'by' => 'desc')); ?> value="<?php echo urldecode($this->url(array('filter_params' => $this->shopFilterParams(array('sort' => 'sb_title', 'by' => 'desc'))), 'shop_filter', false));?>"><?php echo $this->translate('Серии'); ?> &uarr;</option>
</select> */ ?>
</div>