<h3><?php echo $this->title; ?></h3>
<p><a href="/shop-models/list/" class="btn">Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="240">Название</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>

        </tr>
        <tr>
            <td width="240">Transliteration</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->name; ?></td>
        </tr>
        <tr>
            <td>Бренд</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->brand_id; ?></td>
        </tr>
        <tr>
            <td>Категория</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->category_id; ?></td>
        </tr>
        <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
            <tr>
                <td>
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{description . $val['p']}; ?></td>
            </tr>
        <?php endforeach; ?>
		<tr>
			<td>Скидка</td>
			<td><?php echo $this->form->discount; ?></td>
			<td></td>
		<tr>
    </table>
</form>

<div class="alert-message block-message warning">
    <p>Для добавления модификаций, необходимо сохранить товар.</p>
</div>
