<?php $colors = new Default_Model_ShopColor(); ?>

<h3><?php echo $this->title; ?></h3>
<p><a href="/shop-models/list/" class="btn">Назад</a></p>
<form method="post" action="" id="form" enctype="application/x-www-form-urlencoded">
    <table>
        <?php if ($this->cmsConfig('lang_count') > 1): ?>
            <tr>
                <td width="150">Язык</td>
                <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                    <td width="<?php echo $this->cmsConfig('width') ?>"><img src="/images/admin/<?php echo $val['l'] ?>.gif" /></td>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <tr>
            <td width="240">Название</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{title . $val['p']} ?></td>
            <?php endforeach; ?>

        </tr>
        <tr>
            <td width="240">Transliteration</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->name; ?></td>
        </tr>
        <tr>
            <td>Серия</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->brand_id; ?></td>
        </tr>
        <tr>
            <td>Категория</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->category_id; ?></td>
        </tr>
        <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
            <tr>
                <td>
                    <?php if ($this->cmsConfig('lang_count') > 1): ?>
                        <img src="/images/admin/<?php echo $val['l'] ?>.gif" />
                    <?php else: ?>
                        Текст
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>"><?php echo $this->form->{description . $val['p']}; ?></td>
            </tr>
        <?php endforeach; ?>		
        <tr>
            <td width="240">Meta-keywords</td>
            <?php foreach ($this->cmsConfig('lang_list') as $val): ?>
                <td width="<?php echo $this->cmsConfig('width') ?>"><?php echo $this->form->{keywords . $val['p']} ?></td>
            <?php endforeach; ?>

        </tr>
        <tr>
            <td>Изображения</td>
            <td colspan="<?php echo $this->cmsConfig('lang_count'); ?>">
                <input id="fileupload_multi" type="file" name="fileupload_multi"
                       act="/upload/multi-image?type=shop_model&imgw=57&id=<?php echo $this->id; ?>"/>
                <ul class="gallery_image_list" act="/shop-models/change-image-order">
                    <?php if ($this->images): ?>
                    <?php foreach ($this->images as $el): ?>
                        <li class="gallery_image_item" id="<?php echo $el['id'] ?>" onclick="imageColorEdit(<?php echo $el['id'] ?>)">
                            <?php echo $this->imageView($el['id'], 0, array('width' => '75', 'maxHeight' => '75'), 'shop_model'); ?>
                            <br/>
                            <?php $i_color = $colors->imageColor($el['id']); ?>
                            <div style="width: 15px; height: 15px; background-color: <?php echo $i_color['hex']; ?>; float: left;"></div>
                            <div style="float: left;line-height: 14px;padding:0 5px 0 3px"><?php echo $i_color['service_title']; ?></div>
                            <div class="delete-screen" act="/shop-models/delete-image" id="<?php echo $el['id']; ?>">
                                <img src="/images/admin/delete.png"/></div>
                        </li>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </ul>
                <div class="clear"></div>
            </td>
        </tr>
		<tr>
			<td>Скидка</td>
			<td><?php echo $this->form->discount; ?></td>
			<td></td>
		<tr>
    </table>
</form>

<?php $count = count($this->modifications); ?>

<p>
    <?php /*if ($count == 0): ?>
    <a href="#" class="btn success" id="modif-add-one" data-controls-modal="modal">Указать данные (без модификаций)</a>
    <?php endif;*/ ?>
    <a href="#" class="btn" id="modif-add-many" data-controls-modal="modal">Добавить модификацию</a>
</p>

<?php if ($count > 0): ?>
    <table>
        <tr>
            <th width="30">Ред.</th>
            <th>Сорт.</th>
            <th>Размер</th>
            <th>Цена</th>
			<th>Старая цена</th>
            <th>Состояние</th>
            <th colspan="2">Цвета</th>
            <th>Удалить</th>
        </tr>
        <?php foreach ($this->modifications as $el): ?>
        <tr>
            <td><a href="#" class="btn modif-edit" modif-id="<?php echo $el['id']; ?>">Edit</a></td>
            <td><?php echo $el['sortorder']; ?></td>
            <td><?php echo ($el['title']) ? $el['title'] : 'default'; ?></td>
            <td><?php echo $el['price']; ?></td>
            <td><?php echo $el['old_price']; ?></td>
            <td<?php echo ($el['status'] == 1) ? ' style="background: #eeffee"' : '' ; ?>><?php echo $this->storage(2)->getValueByKey($el['status']); ?></td>
            <td width="130">
                <a style="margin-right: 5px; float: left;" href="#" class="btn modif-colors-edit" modif-id="<?php echo $el['id']; ?>">Добавить цвет</a>
            </td>
            <td>
                <?php $m_colors = $colors->modifColors($el['id']); ?>
                <?php if (!empty($m_colors)): ?>
                <?php foreach($m_colors as $color): ?>
                <div style="position: relative; top: 7px;height:20px;">
                    <div style="width: 15px; height: 15px; background-color: <?php echo $color['hex']; ?>; float: left;"></div>
                    <div style="float: left;line-height: 14px;padding:0 5px 0 3px"><?php echo $color['service_title']; ?></div>
                    <div class="delete-color" modif-color-id="<?php echo $color['id']; ?>"><img src="/images/admin/delete.png"></div>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
            </td>
            <td class="delete-modif" style="vertical-align: middle;text-align: center;" modif-id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png"></td>
        </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>

<!-- Модальное окно -->
<div id="modal" class="modal hide">
    <div class="modal-body"><img src="/images/admin/ajaxLoader.gif" /></div>
</div>

<script type="text/javascript">
    $(function(){
        $(".delete-modif").click(function(){
            if (confirm("Удалить модификацию?")) {
                $.post("/shop-modifications/delete",{id:$(this).attr('modif-id')},function(data){
                    location.reload(true);
                });
            }
        });

        $(".delete-color").click(function(){
            if (confirm("Удалить цвет модификации?")) {
                $.post("/shop-colors/delete-modif-color",{id:$(this).attr('modif-color-id')},function(data){
                    location.reload(true);
                });
            }
        });
    })
</script>
