<h3><?php echo $this->title; ?></h3>
<form method="get" action="">
    <?php /*<table>
        <tr>
            <td width="210"><?php echo $this->form->brand_id; ?><span class="help-block">Производитель</span></td>
            <td width="210"><?php echo $this->form->category_id; ?><span class="help-block">Категория</span></td>
            <td><input type="submit" value="Поиск" class="btn" />
            <a href="/shop-models/list" class="btn info" />Сброс</a></td>
        </tr>
    </table>
    */?>

<table class="zebra-striped" id="sortable" style="margin-bottom: 5px;">
    <thead>
    <tr>
        <th width="50" class="header">ID</th>
        <th class="header">Серия</th>
        <th class="header">Название</th>
        <th class="header">Категория</th>
        <th width="100" class="header">Модификации</th>
		<th>Скидка</th>
        <th width="20" class="red">#</th>
    </tr>
    </thead>
    <tbody>
        <?php foreach ($this->paginator as $el): ?>
        <tr>
            <td><a href="/shop-models/edit/id/<?php echo $el['id']; ?>"><?php echo $el['id']; ?></a></td>
            <td><?php echo $el['b_title']; ?></td>
            <td><a href="/shop-models/edit/id/<?php echo $el['id']; ?>"><?php echo $el['title']; ?></a></td>
            <td><?php echo $el['c_title']; ?></td>
            <td><?php echo $el['count']; ?></td>
			<td><?php echo $el['discount']; ?></td>
            <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png"/></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
    <tbody>
    <tr>
            <td class="filter"><?php echo $this->form->model_id; ?></td>
            <td class="filter"><?php echo $this->form->brand_id; ?></td>
            <td class="filter"><?php echo $this->form->title; ?></td>
            <td class="filter"><?php echo $this->form->category_id; ?></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
    </tr>
    </tbody>
</table>

<td>
    <input type="submit" value="Поиск" class="btn" style="width: 100px;" />
    <a href="/shop-models/list" class="btn info" />Сброс</a>
</td>

</form>

<?php echo (count($this->paginator) > 1) ? $this->paginationControl($this->paginator, 'Sliding', 'paginator_gets.phtml') : ''; ?>
