<h3><?php echo $this->title; ?></h3>
<table class="zebra-striped" id="sortable">
    <thead>
        <tr>
            <th class="header">Название</th>
        </tr>
    </thead>
    <tbody>
        <?php if ($this->entries): ?>
            <?php foreach ($this->entries as $el): ?>
                <tr>
                    <td><a href="/menu/edit/name/<?php echo $el['name']; ?>"><?php echo $el['title']; ?></a></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>