<h3><?php echo $this->title; ?></h3>
<p><a class="btn" href="/admin/list">&larr; Назад</a></p>
<form method="post" action="" id="form" style="width: 350px;" enctype="multipart/form-data">
    <table class="edittable">
        <tr>
            <td width="100">Login</td>
            <td><?php echo $this->form->login; ?></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><?php echo $this->form->email; ?></td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td><?php echo $this->form->realname; ?></td>
        </tr>
        <tr>
            <td>Уровень доступа</td>
            <td><?php echo $this->form->access_level; ?></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><?php echo $this->form->password; ?></td>
        </tr>
    </table>
</form>