<h3><?php echo $this->title; ?></h3>
<table class="table" style="width: 98%;">
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>ФИО</td>
        <td>Email</td>
        <td>Ур. доступа</td>
        <td width="30">#</td>
    </tr>
<?php
if ($this->entries) {
    foreach ($this->entries as $el) {
?>
        <tr>
            <td><?php echo $el['id']; ?></td>
            <td><a href="/admin/edit/id/<?php echo $el['id']; ?>"><?php echo $el['login']; ?></a></td>
            <td><?php echo $el['realname']; ?></td>
            <td><?php echo $el['realname']; ?></td>
            <td><?php echo $el['access_level']; ?></td>
            <td class="delete" id="<?php echo $el['id']; ?>"><img src="/images/admin/delete.png" /></td>
        </tr>
<?php
    }
}
?>
</table>